[2021-12-18 18:06] KendallDoesCoding opened #1 "[FEAUTE REQUEST] (Add lyrics)"
Add a link to take you to the lyrics to each song, which will be hosted on the same website.

[2021-12-18 18:06] KendallDoesCoding commented on #1
Self note...

[2021-12-19 06:58] KendallDoesCoding opened #2 "[FEATURE REQUEST]: Change embed automatically when clicked to link and autoplay embed."
Right now, the site hosted on https://kendalldoescoding.gq/mogulchristmas, has a embed on top with all the songs and a list of the songs below and if they click the songs it redirects them to a new tab (I'm working on making it so that it redirects them in a different tab), but I want it to be possible that when they click the song, in the embed it automatically goes to that part of the video, tha

[2021-12-19 11:57] KendallDoesCoding commented on #1
In progress.

Completed 3/6 songs.

[2021-12-19 13:54] KendallDoesCoding commented on #1
Done, but I have more plans for it. Closing for now.

[2021-12-19 13:54] #1 closed

[2021-12-19 17:47] TechStudent11 commented on #2
This seems simple. Let me try to add it.

[2021-12-19 17:49] KendallDoesCoding commented on #2
Should I assign you to this issue?

[2021-12-19 18:44] #2 closed

[2021-12-19 18:47] KendallDoesCoding commented on #2
@TechStudent11 Thanks! I merged it...

But, is it possible to autoplay the embed and console log {songname} loaded.

[2021-12-20 06:25] KendallDoesCoding commented on #2
@TechStudent11 I added a console log, but can we autoplay it?

[2021-12-20 06:27] KendallDoesCoding commented on #2
Pog, set it to autoplay.

[2021-12-20 06:28] KendallDoesCoding opened #7 "Autoplay on embed on muted."
Now, if you tap any song, it autoplays it on the webpage itself. But, it's going on mute as the autoplay embed? Can we fix that or is that just Chrome's settings and you can't do anything about it?

[2021-12-20 10:25] KendallDoesCoding commented on #7
This seems to have automatically fixed. If it comes again, will re-open this issue.

[2021-12-20 10:25] #7 closed

[2021-12-20 10:27] KendallDoesCoding opened #8 "Autoplay embed for lyrics directory not working."
I tried adding the ?autoplay=1 on embed urls for the lyrics directory, but it didn't work. I need to figure out how I can get those embeds to autoplay too.

[2021-12-20 10:29] KendallDoesCoding opened #9 "[FEATURE REQUEST] Auto-stop when song is over."
Right now, we have only made it so that if they tap the song it will automatically start from there, in the main directory. Idk about that for the lyrics directory as seen in #8 . But anyways, it would be good if it can be made so that, it starts the song from there. And it knows when the next song is set. So then, it automatically stops after the song and the user will have to tap the next song i

[2021-12-20 12:34] TechStudent11 commented on #9
Hmm there should be an "end" arg in the URL. I'll have to look into it.

[2021-12-20 13:27] KendallDoesCoding commented on #9
ok

[2021-12-20 15:46] KendallDoesCoding opened #10 "[FEATURE REQUEST] Auto-embed in lyrics instead of iframe"
Right now, in the lyrics directory. The iframe for the song is still running. But, I think we can call upon the function we created in the JS for the timestamps for each song, and set that in the directory. I explained it in a confusing manner but yeah. And using #9 we can automatically stop the song, but even if we don't implement #9 that would still be fine as it would be as it is now, but witho

[2021-12-20 15:48] KendallDoesCoding opened #11 "[FEAUTRE REQUEST] Const lyrics in Javascript"
Right now, for the lyrics directory, I have to continuously add the p tag and remove it to remove lyrics, and there's just a lot of code going into the html. I think it's possible to const all the lyrics for all the songs in the Javascript file and call upon the lyrics for that specific song in the lyrics directory. That would also avoid the p tag mess and stuff, if possible.

[2021-12-20 17:00] KendallDoesCoding commented on #7
It depends on your youtube setting, if the last video you watched on youtube was on mute, it remains muted in embeds too.

[2021-12-20 19:11] KendallDoesCoding commented on #9
You can create a draft PR on this if you figure out how to get this done and I'll check it out!

[2021-12-20 19:16] #8 closed

[2021-12-21 11:00] KendallDoesCoding opened #13 "Leave space between buttons"
There's no space between the 2 buttons on the main play the songs page.

[2021-12-21 11:06] KendallDoesCoding opened #14 "[FEATURE REQUEST] Loop song"
For now, users can tap a song and play it, I was thinking that we could add a loop command or something in the program so if they tap it their song will automatically loop, instead of them having to manually do it again, if they are running the website in the background.

The youtube loop will not work, because the youtube loop will only loop after it's finished with "All I want for Christmas" and

[2021-12-22 15:51] KendallDoesCoding opened #16 "[FEAUTRE REQUEST] Add cover image on the top or bottom of "Christmas Album by Ludwig""

[2021-12-22 16:00] KendallDoesCoding commented on #16
Well, I added this. But I'm still not sure if it needs to be there or if it looks extra...

[2021-12-22 16:56] KendallDoesCoding opened #20 "[FEAUTRE REQUEST] Only show youtube video embed, after user has clicked a song"
It can be made so after the user clicks a song, only will the embed show and it autoplay the song like it does now.

[2021-12-22 16:56] KendallDoesCoding commented on #16
I had some time to think about this and I decided that only, if #20 comes into the website, will we do this. Reverting the changes shortly.

[2021-12-22 17:00] KendallDoesCoding commented on #16
Reverted changes in commit 8bdd192

[2021-12-22 18:01] KendallDoesCoding opened #21 "Font size in other projects can be a little bigger."
The h2 and the p tags in https://mogulchristmas.kendalldoescoding.gq/otherprojects can be a little bigger. Right now, it looks okay but not great.

[2021-12-22 18:07] KendallDoesCoding opened #22 "Doesn't open the other projects link in a new tab."
If your still listening to music on that tab and want to see other projects, it will redirect you there. I think it should be made to open the link in a new tab.

[2021-12-22 18:08] #22 closed

[2021-12-22 19:58] TechStudent11 commented on #10
I don't get it.

[2021-12-22 19:59] TechStudent11 commented on #11
Seems easy enough.

[2021-12-22 20:00] TechStudent11 commented on #11
*the concept seems easy enough

There are so many lines to fill in. Well, better get started.

[2021-12-23 06:42] KendallDoesCoding opened #26 "[FEATURE REQUEST] Option to play all of the above (That already kinda is there now, read comments)"
If #24 gets merged, which it probably will soon. I would like to add a option called All of the above, which users can click and listen to the full YT video.

But, still that's only gonna be useful/added if #24 gets merged.

[2021-12-23 06:47] KendallDoesCoding commented on #10
Yeah. I explained it in a confusing way.

What I'm saying is, in the JS we const the songs, and in #24 your working on const the end of the songs, so I was thinking we can call upon the JS file where we const the songs, and if the song is "All I Want For Christmas" we just need to call the line in the js:   "All I Want For Christmas": "940" and there the song will show. Anyways, this is kinda poin

[2021-12-23 06:50] KendallDoesCoding commented on #11
Yes lol.

[2021-12-23 12:03] #21 closed

[2021-12-23 12:17] #9 closed

[2021-12-23 12:23] KendallDoesCoding opened #28 "[BUG REPORT]:- (Embed issue in Lyrics path, Christmas Song)"
### Duplicate Issues

- [X] There are **no existing posts relating to my problem**
- [ ] There are **existing posts relating to my problem, but the solution given, doesn't work for me.**

### What happened?

I was trying to play the charismas song embed in the lyrics path when I got this embed error.

Infomation here - https://user-images.githubusercontent.com/76978184/147239658-03ed7b6d-7e4b-4b89

[2021-12-23 12:26] #28 closed

[2021-12-23 12:27] KendallDoesCoding commented on #28
That day ?autoplay=1 wasn't working so I did &autoplay=1 which I think was working for a bit, but now it seems to have stopped, weird but I fixed it now.

[2021-12-23 12:36] TechStudent11 commented on #28
@KendallDoesCoding When you have a URL with args (e.g https://youtube.com/watch?v=dQw4w9WgXcQ). "?" is the beginning. It tells the browser that now, here are the URL arguments. "&" is just saying that you want to add more. This can go on infinitely.

---

For example:

---

https://youtube.com/embed/dQw4w9WgXcQ?autoplay=1

There is only 1 argument and it's at the beginning so you use a question ma

[2021-12-23 12:40] #26 closed

[2021-12-23 13:14] KendallDoesCoding commented on #28
Nice, you added the rickroll link there and in my emails I got rick's preview.

[2021-12-23 13:16] KendallDoesCoding commented on #28
Yeah, Thanks for explaining. I knew that but in a short form, just that day idk what the issue was, when i put ?autoplay=1 it didnt work but with &autoplay=1 it did work and was autoplaying. Now that issue seems to be fixed.

It was a youtube embed issue the day I was testing, but even with &autoplay=1 it was working for that day.

[2021-12-23 13:16] KendallDoesCoding commented on #28
Normally &autoplay=1 shouldn't be working.

[2021-12-23 14:05] TechStudent11 commented on #28
@KendallDoesCoding that only works IF it's not at the beginning.

[2021-12-23 14:05] TechStudent11 commented on #28
Aw, shoot I was hoping you would click on it.

[2021-12-23 14:12] KendallDoesCoding commented on #28
Lol, even if I didnt see it first I knew that was the rickroll link. I like that song though so idrc lol

[2021-12-23 14:34] KendallDoesCoding commented on #11
Forgetting this for now

[2021-12-23 14:55] KendallDoesCoding commented on #11
Reopening as figured out how to do this.

[2021-12-23 15:12] #11 closed

[2021-12-23 15:15] KendallDoesCoding opened #32 "[FEATURE REQUEST] - Put all lyrics in one js file"
**Is your feature request related to a problem? Please describe.**
No, I just thought that we could enhance the idea of #11 and set it so that all the lyrics which are currently in the songs respective folder should go in a file called lyrics.js and with that, instead of JS files in every lyric folder.

[2021-12-23 15:19] TechStudent11 commented on #28
Same

[2021-12-23 16:19] TechStudent11 commented on #20
hm seems easy

(famous last words)

[2021-12-23 16:29] KendallDoesCoding commented on #20
lol

[2021-12-23 16:29] KendallDoesCoding commented on #28
Anyways, this was the issue I was facing that I changed it from ? to &:
https://github.com/KendallDoesCoding/mogul-christmas/pull/12

On Thu, 23 Dec 2021 at 20:49, TechStudent10 ***@***.***>
wrote:

[2021-12-23 16:31] KendallDoesCoding commented on #10
Did you understand this now @TechStudent11 ?

[2021-12-23 16:32] KendallDoesCoding commented on #32
@TechStudent11 I made a attempt doing this in #33. Do you know how this can be done?

[2021-12-23 16:33] KendallDoesCoding commented on #32
If not, I'll close this.

[2021-12-23 17:57] TechStudent11 commented on #10
think so

[2021-12-23 17:57] TechStudent11 commented on #32
It's possible

[2021-12-23 19:01] KendallDoesCoding commented on #32
Ok. Please try and let me know.

On Thu, 23 Dec 2021 at 23:28, TechStudent10 ***@***.***>
wrote:

[2021-12-23 19:16] KendallDoesCoding opened #34 "[BUG REPORT]:- (Release number incorrect)"
### Duplicate Issues

- [X] There are **no existing posts relating to my problem**
- [ ] There are **existing posts relating to my problem, but the solution given, doesn't work for me.**

### What happened?

Release number incorrect

### Release version

_No response_

### Steps to reproduce

None

### What platform are you seeing this problem on?

Windows

### Relevant console log (if any)

_No r

[2021-12-23 19:16] #34 closed

[2021-12-25 11:12] KendallDoesCoding commented on #32
Did you find anything useful for us to be able to do this? I've kept the fix#32 branch open, if you find anything useful please let me know urgently, or I'll close it.

Thanks!

[2021-12-25 11:16] KendallDoesCoding commented on #14
@TechStudent11 Would this be possible or no?

[2021-12-25 11:17] KendallDoesCoding commented on #20
@TechStudent11 You found anything useful to be able to get this done? If yes, can you please make a PR.

[2021-12-25 11:28] KendallDoesCoding opened #36 "8 versions missing from Versions & Preview section in README.md"
@Kendall-Does-Coding-Websites, kindly work on this.

[2021-12-25 11:40] KendallDoesCoding opened #38 "[FEATURE REQUEST] - Temp Message "Merry Christmas" for the 25th every year on this day/when pc time says its this day."
For today, the website should say MERRY CHRISTMAS.

But, @TechStudent11 can you make it in JS so that every year/when computer time is on date 25th it will display that, rn what im doing is im doing some edits and deploying that on Netlify, but if its encoded into the website that would be pog.

Thanks.

[2021-12-25 11:48] KendallDoesCoding commented on #38
Completed

[2021-12-25 12:33] #36 closed

[2021-12-25 12:36] KendallDoesCoding commented on #38
With recent commit deploy 7905204, this has gone.

@TechStudent11 as mentioned before in this thread, if this is possible please let me know:
Can you make it in JS so that every year/when computer time is on date 25th it will display that, rn what im doing is im doing some edits and deploying that on Netlify, but if its encoded into the website that would be pog.

[2021-12-25 12:45] KendallDoesCoding opened #40 "TEST"

[2021-12-25 15:36] KendallDoesCoding opened #41 "Extra slashes in _redirects"
There are some extra /'s in the redirect file links. The redirects will work even without them in the end.

I need to get to removing them.

[2021-12-25 15:38] #41 closed

[2021-12-25 16:32] KendallDoesCoding opened #43 "[FEATURE REQUEST] Christmas tree in bottom right"

[2021-12-25 17:35] KendallDoesCoding opened #45 "[FEATURE REQUEST] - Dark Mode if chrome theme set as dark mode"

[2021-12-25 17:54] KendallDoesCoding commented on #45
I can;t figure out how to do this

[2021-12-25 18:26] #43 closed

[2021-12-25 18:37] Bibhavshah commented on #45
Can I work on this issue

[2021-12-25 18:49] KendallDoesCoding commented on #45
Yeah ofc, I'll assign you. Just make a PR.

[2021-12-25 18:52] KendallDoesCoding commented on #10
Closing this, as this will be a huge effort and won't really make sense tbh.

Will re-open if I ever think we need it again or if I find something useful to help us with this.

[2021-12-25 18:52] #10 closed

[2021-12-26 05:29] KendallDoesCoding opened #49 "Links missing in README.md for Release - 5.5.5 and 5.5.7"
Need to get the deploy logs from Netlify and inculde them shortly.

[2021-12-26 05:54] #49 closed

[2021-12-26 05:56] KendallDoesCoding opened #51 "[FEATURE REQUEST] Version changelogs in README.md"
After the version preview and github release page, I think we should also inculde a version changelog from the previous version.

For example changes made in 2.0 which weren't there in 1.0. That's possible to check from the release page I think, but we can save users a few clicks by doing this.

[2021-12-26 06:19] KendallDoesCoding opened #52 "Christmas Trees in between text in Other Projects"
These are two more projects (one website and one github repo template) I made like this, its just a copy of this. But, this is the only website I'm going to try to keep updating, these days.

[2021-12-26 06:22] #52 closed

[2021-12-26 06:25] KendallDoesCoding opened #54 "Extra css, in other projects directory"
In the main.css file, located at: https://github.com/KendallDoesCoding/mogul-christmas/blob/main/otherprojects/main.css. There is some extra css. It needs some clearing up.

[2021-12-26 07:00] KendallDoesCoding opened #55 "No space between, Version 6.0 and links coming soon"

[2021-12-26 07:01] #55 closed

[2021-12-26 07:04] #54 closed

[2021-12-26 07:20] KendallDoesCoding opened #59 "Organize files more better"
Move the css and JS file to another folder called href or something to format the main directory better.

[2021-12-26 08:59] KendallDoesCoding opened #60 "Remove christmas tree image src from body in css, link it via html though"
The christmas trees in the other projects directory was merging with the text, so I made a new css and removed that, not I realize that in the lyrics directory, in the songs its coming in the bottom corners but in https://mogulchristmas.kendalldoescoding.gq/lyrics there is half a christmas tree.

I need to figure out how to make a div class in index.html and in index.html for each of the song lyri

[2021-12-26 15:15] TechStudent11 commented on #14
@KendallDoesCoding that would only be possible if each song was a separate video.

[2021-12-26 15:16] TechStudent11 commented on #20
@KendallDoesCoding sorry it's just that I was out all yesterday and couldn't check GitHub.

[2021-12-26 15:17] TechStudent11 commented on #38
@KendallDoesCoding Yeah it's possible. All I need is to use the `Date` API.

[2021-12-26 15:21] TechStudent11 commented on #32
@KendallDoesCoding sorry it's just that I was out all yesterday and couldn't check GitHub.

[2021-12-26 16:40] KendallDoesCoding commented on #14
Ok, just wanted to confirm.

Closing this now... Thanks

[2021-12-26 16:40] #14 closed

[2021-12-26 16:41] KendallDoesCoding commented on #20
No issues! Same here. It was christmas so that's completely fine :)

[2021-12-26 16:41] KendallDoesCoding commented on #38
Ok cool, please work on this and make a PR.

[2021-12-26 16:43] KendallDoesCoding commented on #32
No issues! Same here. It was christmas so that's completely fine :)

[2021-12-27 08:36] #13 closed

[2021-12-27 08:38] KendallDoesCoding opened #62 "The button issue got fixed but the trees came up."
After merging #48 , the buttons became separate but the trees came above, I still need them in the bottom left & right if possible.

[2021-12-27 08:43] KendallDoesCoding commented on #45
@Bibhavshah As mentioned in #48 , I need it so that if the user presses d on their keyboard it goes to background #d9d9d9 and if they press l it comes back to the normal color. Please work on that.

Will make a detailed issue shortly.

[2021-12-27 08:46] KendallDoesCoding opened #63 "[FEATURE REQUEST] Takes user input and decides dark mode or light mode."
My original idea for #45 was to make it so it reads if chrome theme is black and accordingly shows in dark mode or light mode, @Bibhavshah made a PR that if your Windows theme was black, the page displayed in black too. Which was a great concept, but I didn't really like that concept. I had a while to think about it, and I decided that it would be great if it was made so that if the user on their

[2021-12-27 09:13] KendallDoesCoding commented on #38
Waiting for you to open a PR on this @TechStudent11

[2021-12-27 09:55] KendallDoesCoding commented on #62
This seems to automatically have been fixed... Closing

[2021-12-27 09:55] #62 closed

[2021-12-27 10:37] KendallDoesCoding opened #64 "[FEATURE REQUEST] Make version links text bolder."
For the text:
Links
Github Page

We should make these terms bold

And, if we do  #51 , make Complete Changelog bold too.

[2021-12-27 10:39] KendallDoesCoding commented on #64
Actually, this is kinda a bad idea ngl lol

[2021-12-27 10:39] #64 closed

[2021-12-27 10:42] #51 closed

[2021-12-27 12:40] TechStudent11 commented on #60
I don't understand what you want me to do.

[2021-12-27 13:07] KendallDoesCoding commented on #60
@TechStudent11 In the other projects directory I added main.css because it was interfering with the text, in the lyrics directory its coming in the top corners. I only want the christmas trees in the bottom corners for the main website and not for other directories within the website.

Did you understand know?

Let me know if you got any doubts,
Kendall Does Coding

[2021-12-27 13:08] TechStudent11 commented on #60
@KendallDoesCoding that seems like basic CSS.

[2021-12-27 13:11] TechStudent11 commented on #60
Uh, so quick question, how and where did you add the trees?

[2021-12-27 16:23] KendallDoesCoding commented on #62
This depends on page size.

[2021-12-27 16:29] KendallDoesCoding commented on #60
I did it the worst way possible, and added it to the body in styles.css lol

[2021-12-27 16:50] TechStudent11 commented on #60
BRO WHY

[2021-12-27 17:01] KendallDoesCoding commented on #60
I didnt know any other way lol. I mean, I did but I kinda forgot lol. That's why I asked for some help with this lol, but ik its basic

[2021-12-27 17:22] KendallDoesCoding commented on #60
This is also causing me serious issues, because now only if the page size is 125 even in the main directory will the trees show in the bottom right & left corner. I would like if you could help me arrange it a little better lol @TechStudent11

[2021-12-28 17:37] #20 closed

[2021-12-28 17:44] KendallDoesCoding commented on #60
@TechStudent11 You working on this?

[2021-12-28 17:44] KendallDoesCoding commented on #45
Closing this in favour of #63

[2021-12-28 17:44] #45 closed

[2021-12-28 17:45] KendallDoesCoding commented on #59
Closing for now, cause its fine as it is. But, will re-open in a while ig.

[2021-12-28 17:45] #59 closed

[2021-12-28 19:44] TechStudent11 commented on #60
@KendallDoesCoding tbh I'm not sure how I can. Wait, I just got an idea.

[2021-12-29 04:39] KendallDoesCoding commented on #60
Ok!

[2021-12-29 06:38] KendallDoesCoding commented on #60
You creating a PR with your idea then @TechStudent11 ?

[2021-12-29 06:40] KendallDoesCoding commented on #38
@TechStudent11 Reminder on this.

[2022-01-02 07:33] KendallDoesCoding commented on #60
@TechStudent11 You working on this with your idea?

[2022-01-02 09:47] KendallDoesCoding opened #77 "[FEATURE REQUEST] Don't show iframe at all"
Enhancing the idea of #20 , Why not, just don't show the iframe at all, just when user clicks the song, it will automatically play in the background, with the iframe hidden? Is that possible @TechStudent11

[2022-01-02 16:24] TechStudent11 commented on #77
Hm, okay. I'll try.

[2022-01-02 16:30] KendallDoesCoding commented on #38
Issue wasn't fixed by #75

[2022-01-02 16:31] KendallDoesCoding commented on #77
Thanks, I see you made a PR on this.

[2022-01-02 16:36] #77 closed

[2022-01-02 16:37] KendallDoesCoding opened #79 "Move style="display: none" to css from html"
In #78 @TechStudent11 added, style="display: none". I think we should use the id embed or make a new class in the iframe and call the display none in the css itself.

[2022-01-02 16:44] KendallDoesCoding opened #80 "Make site responsive and make it so that if screen size is small the button to toggle darkmode becomes small too."
URGENT: Make page responsive for mobile and small view

Mobile View:
![image](https://user-images.githubusercontent.com/84712013/147882836-aa49cab5-75a3-4211-aead-24e58b253ce0.png)

EDIT: After commit 2f396ba this issue has kinda been fixed, just the toggle button needs to be small if the screen size is small.

[2022-01-02 16:50] #79 closed

[2022-01-02 16:51] KendallDoesCoding commented on #49
LOL, wrong issue thread mentioned.

[2022-01-02 17:11] KendallDoesCoding opened #82 "Update Version & Previews"
Update Version & Previews for 10 releases

EDIT: #109 added most of the releases needed, only 3 more need to be added now.

[2022-01-03 14:58] KendallDoesCoding commented on #80
Need to make it so that if the screen is smaller then the normal computer website size, it doesnt show the trees and then it will be good to merge! The rest seems to be good only trees in the way.

[2022-01-03 16:02] KendallDoesCoding commented on #38
@TechStudent11 Do you have another way of fixing this issue. As mentioned, #75 did not work and removed the song list itself lol.

[2022-01-03 17:33] TechStudent11 commented on #38
tbh, I have no idea and would rather just remove the code.

[2022-01-03 17:34] KendallDoesCoding commented on #38
wdym?

[2022-01-03 17:35] KendallDoesCoding commented on #38
You had no idea it would delete the code.

It's no issues lol, I'll close this for now coz christmas day comes once a year and this really doesn't matter lol

[2022-01-05 06:16] KendallDoesCoding commented on #38
I still didnt understand what you meant by that @TechStudent11 ...

[2022-01-05 08:33] KendallDoesCoding commented on #60
@TechStudent11 Waiting for your reply on this.

[2022-01-05 08:49] KendallDoesCoding opened #85 "Github Icon opening into next tab automatically."
Even though I put target blank on the github svg href, it automatically opens the next tap and redirects you to this repo on the next tab. I want it to open a completely new tab.

[2022-01-05 13:06] TechStudent11 commented on #38
It's just the weirdness of JS.

[2022-01-05 13:13] TechStudent11 commented on #60
@KendallDoesCoding School in Ontario is starting so I don't really have time.

[2022-01-05 16:16] aliraza944 commented on #85
Hi, I have checked the code and the link is opening on the new tab. Do you want to open it into a new window?

[2022-01-06 14:17] KendallDoesCoding commented on #38
yea lol

On Wed, 5 Jan 2022 at 18:36, TechStudent10 ***@***.***> wrote:

[2022-01-06 14:17] KendallDoesCoding commented on #60
Ok!

On Wed, 5 Jan 2022 at 18:44, TechStudent10 ***@***.***> wrote:

[2022-01-06 14:18] #85 closed

[2022-01-06 14:21] KendallDoesCoding commented on #85
Yeah that works too. I merged your PR. Thanks

[2022-01-06 16:18] aliraza944 commented on #32
Hey, Do you mind if I have a go on it?

[2022-01-06 16:19] TechStudent11 commented on #32
@aliraza944 Sure!

[2022-01-06 16:22] aliraza944 commented on #32
So you want all the songs lyrics to a single file as strings and then update the <p> tags on the run time?

[2022-01-06 16:32] TechStudent11 commented on #32
@aliraza944 I think any implementation doesn't matter just as long as they're all in the same file.

[2022-01-07 06:58] #32 closed

[2022-01-07 10:28] KendallDoesCoding opened #89 "Original Button on top instead of in bottom in lyrics directory "Baby It's Cold Outside""
In "The Christmas Song", in the lyrics directory the button for original song is displayed below the lyrics, and I think this is the case for all the songs in lyrics directory (haven't had a chance to check them all out), but for the "Baby It's Cold Outside" in the lyrics directory it displays above the lyrics but I need it to display underneath.

[2022-01-07 10:30] KendallDoesCoding commented on #89
Had a look at all the songs in the lyrics directory and the rest are fine this problem is only being faced by "Baby It's Cold Outside"

[2022-01-07 10:45] KendallDoesCoding opened #90 "Remove iframe/embed from lyrics directory."
For the lyrics directory, I just want to song to autoplay in the background without the iframe/embed showing. I can add a .mp3 file in the assets folder of the songs, if that's not possible, because then I think it should be able to be done.

[2022-01-07 11:54] KendallDoesCoding commented on #90
Figured out the issue... Will create a PR shortly.

[2022-01-07 11:54] KendallDoesCoding commented on #89
Figured out the issue will create a PR, shortly.

[2022-01-07 12:30] KendallDoesCoding commented on #80
Wrong issue, its #90 not #80

[2022-01-07 12:37] #90 closed

[2022-01-07 12:40] KendallDoesCoding opened #92 "One line missing from lyrics directory "All I want for Christmas""
The first line, "I don't want a lot for Christmas" is missing from the lyrics of the song "All I want for Christmas" in the lyrics directory

[2022-01-07 12:43] #92 closed

[2022-01-07 12:49] KendallDoesCoding opened #94 "Move the Versions & Previews to wiki"
Move the Versions & Previews section to the repo wiki and link the wiki page in the README.md under the "Versions & Previews" section.

[2022-01-08 10:32] KendallDoesCoding commented on #63
@aliraza944 Can you give this a try? @Bibhavshah doesn't seem to have been on github the last few days.

[2022-01-08 10:37] KendallDoesCoding commented on #94
Will do this after completing #82 .

[2022-01-08 12:40] aliraza944 commented on #63
I think instead of typing `d` or `i` to switch the colors just put a toggle at the top bar for dark mode or light mode.  The problem with the `d` and `i` is that new users to your website will have to be told that this feature exists. By the toggle, the user won't have to do all the mental mapping and it also it's a standard applied on websites.

[2022-01-08 12:48] KendallDoesCoding commented on #63
Yes, I understand that. @Bibhavshah could've done that too but I didn't want to occupy space on the site. Although, I'll give it a try. Can you make a PR? I'll check it out and see how it works and looks.

Thanks,
Kendall Does Coding

[2022-01-09 11:32] KendallDoesCoding commented on #80
@TechStudent11 seems to have created a PR #83 , but he seems to be busy. Can you work on this @aliraza944?

[2022-01-09 11:32] KendallDoesCoding commented on #80
Also, this got closed by 1265175 becuase i mentioned this in the commit by misstake.

[2022-01-09 11:33] KendallDoesCoding commented on #63
@aliraza944 You can do it like the toggle button here: https://ludwig.gg/. Where, there's a button for ludwig's merch and if you tap it goes to QT's merch and it changes background color too

[2022-01-09 11:55] aliraza944 commented on #63
Ok, I'll do it...

[2022-01-09 14:53] KendallDoesCoding commented on #63
Thanks

On Sun, 9 Jan 2022 at 17:25, Ali Raza ***@***.***> wrote:

[2022-01-10 04:42] KendallDoesCoding commented on #94
I've moved a copy of version and previews till release 6.0 to the wiki but I'm worked on #82 and will absolutely delete the section from the README when that is done.

[2022-01-10 04:53] KendallDoesCoding commented on #82
I'm almost done, I need 5 more releases done and then I'll create a PR and merge it.

The repo im doing this on is: https://github.com/Kendall-Does-Coding-Websites/mogul-christmas

I'm using the second branch, fix#82 to add all the versions and previews.

[2022-01-10 17:07] #63 closed

[2022-01-10 17:11] TechStudent11 commented on #60
@aliraza944 would like to work on this?

[2022-01-10 17:12] KendallDoesCoding commented on #60
Idk, what was your idea, can you please explain here?

[2022-01-10 17:16] TechStudent11 commented on #60
What I was planning to do was to add a class to the body in the index. Then, using CSS, only apply it to the index.

[2022-01-10 17:18] aliraza944 commented on #60
You can add the CSS file for the lyrics directory. I mean when the project gets bigger it will help you organize and customize your CSS better.

[2022-01-10 17:20] TechStudent11 commented on #60
True.

[2022-01-10 17:25] KendallDoesCoding opened #97 "[FEATURE REQUEST] Automatically go to darkmode in the night"
I think using the date api it is possible to set it so that if its after a certain time it can automatically go on dark mode but in #38 it messed up the whole project

[2022-01-10 17:26] aliraza944 commented on #60
Since you guys are not using any JS library I'd suggest keeping the CSS short and near the folder, it is being used. Create a new CSS file for any new feature you add to the project.

[2022-01-10 17:27] TechStudent11 commented on #60
Agreed.

[2022-01-11 03:10] KendallDoesCoding commented on #60
Yeah, good idea. I'll do this for the lyrics directory later in the day.

On Mon, 10 Jan 2022 at 22:56, Ali Raza ***@***.***> wrote:

[2022-01-11 03:22] KendallDoesCoding commented on #38
@aliraza944 Do you know how to use the date api, in that case would you be able to do this? Will reopen if you can do this.

[2022-01-11 03:22] KendallDoesCoding commented on #97
@aliraza944 Do you know how to use the date api? And if yes, would you be possible to do this?

[2022-01-11 04:43] aliraza944 commented on #38
The Date API is just the Date Object in javascript. Just tell me where do you want this "Merry Christmas" message to be displayed.

[2022-01-11 04:51] aliraza944 commented on #97
Yes, it's quite possible. But I think the toggle button is fine because you would a javascript code for each of the pages and then you'd have to guess the nighttime for each of the regions in the world. I think this is a bad user experience. Totally doable though.

[2022-01-11 14:39] TechStudent11 commented on #97
@KendallDoesCoding do you still want this?

[2022-01-11 16:22] KendallDoesCoding commented on #97
Well, if your saying it will be a bad experience, then I can agree, even I was wondering, but in discussion in #38 @TechStudent11 said that he could implement that only if the computer/mobile time was a certain so if that's possible I'm down, but if it isn't because he didn't manage to do it #38 .

[2022-01-11 16:25] TechStudent11 commented on #97
`Date.time()`

[2022-01-11 16:27] KendallDoesCoding commented on #38
On 25th December below "Christmas Album by Ludwig" I want this to display "We at KendallDoesCoding wish all of you a Merry Christmas, enjoy your day and make sure you atleast listen to this album on this site atleast 10 times during your day :)" as you can see from when I did it here, but this is a old version of the project and I made it custom on the 25th. I want this built in to the code so it

[2022-01-11 16:34] KendallDoesCoding commented on #97
@aliraza944 @TechStudent11 So let me know if we should do this or no, accordingly will close this thread.

[2022-01-11 16:38] TechStudent11 commented on #97
@KendallDoesCoding tbh it could be cool, but not practical. It's your call.

[2022-01-11 16:46] aliraza944 commented on #97
I don't think it's practical so not doing it is my call.

[2022-01-11 16:48] TechStudent11 commented on #97
@aliraza944 so we both agree. It's not practical so just don't add it.

[2022-01-11 17:10] KendallDoesCoding commented on #97
Ok, closing this. I was thinking of another idea on this though that if they have set it to darkmode and closed the site, the next time they go to the site using cookies the site will be automatically on darkmode, making a issue for that and will discuss there.

[2022-01-11 17:13] KendallDoesCoding opened #98 "[FEATURE REQUEST] Remember if user wants darkmode or lightmode"
Using cookies, I think its possible to set it so that if the user closes the site on darkmode it will automatically open in darkmode instead of lightmode and save some effort of the user. This would be a good idea if its possible to implement

[2022-01-11 17:13] KendallDoesCoding commented on #98
@aliraza944 @TechStudent11 Is this possible?

[2022-01-11 17:16] TechStudent11 commented on #97
Oh that's ez.

[2022-01-11 17:17] TechStudent11 commented on #98
@KendallDoesCoding Uh YEAH. That's easy.

[2022-01-11 17:18] KendallDoesCoding commented on #60
EDIT: I don't mind if main.css is in the other projects directory now but now #83 fixes the christmas tree issue.

[2022-01-11 17:19] KendallDoesCoding commented on #98
Ok, Can you make a PR on this? I'll have a look at it.

[2022-01-11 17:20] TechStudent11 commented on #98
I am merging it with #83

[2022-01-11 17:20] TechStudent11 commented on #98
Please wait...

[2022-01-11 17:25] KendallDoesCoding commented on #98
Ok thanks. Ofc I'll wait.

[2022-01-11 17:43] aliraza944 commented on #98
Instead of cookies, I'd say use the local storage.

[2022-01-11 18:01] KendallDoesCoding commented on #98
Yeah, Local Storage is good too.

On Tue, 11 Jan 2022 at 23:14, Ali Raza ***@***.***> wrote:

[2022-01-11 18:11] TechStudent11 commented on #98
Exactly what I'm doing.

[2022-01-11 18:34] KendallDoesCoding opened #99 "[FEATURE REQUEST] Button to download .txt file from lyrics"
A button in every song in the lyrics directory where you can download a .txt version of the song. I need to research ways this is possible but this is a cool idea to implement in the future.

[2022-01-11 18:35] KendallDoesCoding commented on #97
Forgot to close this. Closing now

[2022-01-11 18:35] #97 closed

[2022-01-11 18:37] KendallDoesCoding commented on #89
This seems to have been fixed by 5cd95ba and v8.5.0, but I forgot to close this.

[2022-01-11 18:37] #89 closed

[2022-01-12 10:42] KendallDoesCoding opened #102 "Missing lyrics in "last christmas" lyrics song directory"
The lines that are missing are the first 2 lines of the song:
"Oh, oh-oh, ooh-oh-oh-oh
Ah-ah"

[2022-01-12 10:45] KendallDoesCoding opened #103 "Format lyrics proper in lyrics directory songs"
In the lyrics of the actual songs which are in the lyrics directory, there are paragraphs in between. In the project lyrics directory for the songs there are no gaps or spaces between paragraphs so this needs working on for the formatting.

[2022-01-12 10:46] #99 closed

[2022-01-12 10:46] #102 closed

[2022-01-12 11:04] KendallDoesCoding commented on #103
@aliraza944 I need your help with this, you can refer to the lyrics.txt in every folder of songs in the lyrics directory, the required lines to be left between paragraphs are there. Please make a PR and I will have a look at it.

[2022-01-12 15:27] KendallDoesCoding opened #105 "[FEATURE REQUEST] Volume button to adjust volume"
After "All Of The Above" there can be a cursor which says Volume and if the user moves the line the volume adjusts. I think this is possible with basic JS but idk how to implement this so would need some help from yall @aliraza944 @TechStudent11

[2022-01-12 15:29] KendallDoesCoding opened #106 "Move the Lyrics/Individual Song Page and Mogul Christmas Playlist button to the top right/left corner"
Make a hamburger menu or a basic menu where the 2 buttons, Mogul Christmas Playlist and Lyrics/Individual Song Page are moved, the toggle button will have to be moved somewhere else though. Also, if the screen size is small the menu will be a icon and will show the buttons only if the user taps the small icon, like I got for my main website.

[2022-01-12 17:30] KendallDoesCoding commented on #105
Yeah, I think this would be a good touch if its possible.

[2022-01-12 17:49] #38 closed

[2022-01-13 09:45] KendallDoesCoding commented on #82
#109 added most of the releases needed, only 3 more need to be added now.

REOPENING

[2022-01-13 09:53] KendallDoesCoding commented on #94
I moved the releases to the wiki, I need to add 3 more releases, move them to the wiki and link the wiki file in the README.md, @TechStudent11 , @aliraza944 Do you guys know of a way I can link the wiki page easily in the README.md file instead of the long link? If not I can link the long link - https://github.com/KendallDoesCoding/mogul-christmas/wiki/Versions-&-Previews

[2022-01-13 12:04] TechStudent11 commented on #94
Long link only, I guess.

[2022-01-13 14:43] KendallDoesCoding commented on #94
Ok. Will use the long link was just wondering.

On Thu, 13 Jan 2022 at 17:35, TechStudent10 ***@***.***>
wrote:

[2022-01-17 06:55] KendallDoesCoding opened #112 "Update text"
Instead of the text "Christmas Album By Ludwig" I think the name can be Ludwig Ahgren

[2022-01-17 06:57] KendallDoesCoding commented on #112
Double thought on this, saw how it looks in #113 and I dont really like how it looks, so not adding this,

[2022-01-17 06:57] #112 closed

[2022-01-17 07:09] KendallDoesCoding commented on #105
@TechStudent11 Did you find anything useful?

[2022-01-17 07:10] KendallDoesCoding commented on #106
@aliraza944 Can you help with this, Ik how to do it but if you could help that would be very cool. Thanks

[2022-01-17 07:11] KendallDoesCoding commented on #103
@aliraza944 Waiting for your reply, Can you help me on this?

[2022-01-17 07:14] KendallDoesCoding opened #114 "Run via youtube music and not youtube embeds"
This album exists on Youtube Music, and I think there is a way we can make it so that the songs play from this site https://music.youtube.com/playlist?list=PLLGT0cEMIAzelK7_q-3gCfpDSa7l4nPYn instead of the current way we're doing it via embeds.

Although, in release 10.5.0 I made it so that the extra lines under the embed are removed, so now this doesnt really need to be added but yeah....

[2022-01-17 07:32] KendallDoesCoding opened #118 "The site is temp down, use this URL"
Creating this as a issue as well, till the site comes back up on the main domain.

EDIT: It's working when my VPN is on but not when its off

### Discussed in https://github.com/KendallDoesCoding/mogul-christmas/discussions/117

<div type='discussions-op-text'>

<sup>Originally posted by **KendallDoesCoding** January 17, 2022</sup>
For some reason, all the subdomains on my sites are down, I think

[2022-01-17 12:17] TechStudent11 commented on #105
Yep it's possible. I'll get working on it later today.

![image](https://user-images.githubusercontent.com/76978184/149768088-622a9bd3-e693-4b6e-a852-57d33212b0be.png)

[2022-01-17 15:24] KendallDoesCoding commented on #105
Ok cool. Thanks a lot!

On Mon, 17 Jan 2022 at 17:47, TechStudent10 ***@***.***>
wrote:

[2022-01-17 15:27] KendallDoesCoding commented on #118
@TechStudent11 @aliraza944 Can you guys confirm yall are facing the same issue when going to https://kendalldoescoding.gq/mogulchristmas or https://mogulchristmas.kendalldoescoding.gq/?

[2022-01-17 15:52] TechStudent11 commented on #118
uh nope it's working

[2022-01-17 16:16] KendallDoesCoding commented on #118
Uh, send a ss.

[2022-01-17 16:16] KendallDoesCoding commented on #118
Not the netlify.app link, Are the links I listed in the comment working @TechStudent11

[2022-01-17 16:16] KendallDoesCoding commented on #118
Oh wait, My site only is gone?

[2022-01-17 16:19] KendallDoesCoding commented on #118
Indeed it working now, either Netlify or Freenom was doing some maintainence, more likely Netlify

[2022-01-17 16:22] KendallDoesCoding commented on #118
My VPN is on in the USA though, its not working when the VPN is off?

[2022-01-17 16:31] TechStudent11 commented on #118
![image](https://user-images.githubusercontent.com/76978184/149807135-3a437537-2c7e-423e-a116-5d8fcb433b5f.png)

I'm in Canada and it's working. No VPN.

[2022-01-18 02:30] KendallDoesCoding commented on #118
Ok then maybe it's my internet issue or it's just not working in my country?

On Mon, 17 Jan 2022 at 22:01, TechStudent10 ***@***.***>
wrote:

[2022-01-18 09:49] KendallDoesCoding commented on #114
@TechStudent11 Can you work on a system to do this? It's not really needed, so if not I'll just close this.

[2022-01-18 12:08] TechStudent11 commented on #114
There is no way to embed YouTube Music.

[2022-01-18 18:26] KendallDoesCoding commented on #114
Yes, Ik that but is there a way to play it in the background?

On Tue, 18 Jan 2022 at 17:38, TechStudent10 ***@***.***>
wrote:

[2022-01-18 18:43] TechStudent11 commented on #114
yeahhhhhhhh no

[2022-01-18 18:43] TechStudent11 commented on #114
That would be wayyyyyyyyyyy beyond what's possible in JS.

[2022-01-18 19:11] KendallDoesCoding commented on #114
Ok, I was just wondering. Will close this shortly.

On Wed, 19 Jan 2022 at 00:14, TechStudent10 ***@***.***>
wrote:

[2022-01-18 19:11] KendallDoesCoding commented on #114
Ok, I was just wondering. Will close this now.

[2022-01-18 19:11] #114 closed

[2022-01-19 17:42] KendallDoesCoding commented on #118
This finally seems to be fixed for me.

[2022-01-19 17:42] #118 closed

[2022-01-20 09:56] KendallDoesCoding commented on #80
EDIT: After commit 2f396ba this issue has kinda been fixed, just the toggle button needs to be small if the screen size is small.

Thus, reopening this issue.

[2022-01-20 09:57] KendallDoesCoding commented on #103
@TechStudent11 Do you know how to do this?

[2022-01-20 10:01] KendallDoesCoding opened #119 "[FEATURE REQUEST] Add icons of spotify and apple, to take users to the album on that platform."
Add icons of Spotify and Apple/Apple Music, to take users to the album on that platform using Font-Awesome.

[2022-01-20 10:05] KendallDoesCoding commented on #119
I'm adding a button to go to ludwig's socials, etc. There I'll inculde spotify, apple music. I also can add a link to go to the ludwig extension page I made.

[2022-01-20 13:12] TechStudent11 commented on #103
Just put it all in one `<p>>` tag with `<br>` tags in-between lines.

[2022-01-20 13:24] aliraza944 commented on #103
Guys, I am suffering from the covid so I am taking a few days off. Sorry for the late reply. I'll be back after the weekend.

[2022-01-20 13:33] TechStudent11 commented on #103
It's fine. Get well soon!

[2022-01-20 14:25] KendallDoesCoding opened #121 "Format css"
The css files, need a bit of formatting.

Can be done using https://www.freeformatter.com/css-beautifier.html

[2022-01-20 14:30] KendallDoesCoding opened #122 "Capitalize color codes"
Eg: Instead of #aaa, make it #AAA

[2022-01-20 14:42] #119 closed

[2022-01-20 14:42] #121 closed

[2022-01-20 14:42] #122 closed

[2022-01-20 14:45] KendallDoesCoding opened #123 "Format HTML"
The html needs a bit of formatting.

Can be done using https://www.freeformatter.com/html-formatter.html

[2022-01-20 14:54] #123 closed

[2022-01-20 15:04] KendallDoesCoding opened #125 "[FEATURE REQUEST] Update Mogul Christmas Playlist button"
Like, https://mogulchristmas.kendalldoescoding.gq/ludsocials/podcasts/, I would like if there will be a page when the button is clicked to go to a simillar page with 3 icons, apple, spotify, youtube music, youtube, and if whatever platform is tapped the album/playlist will open in that platform.

[2022-01-20 15:29] KendallDoesCoding commented on #103
But the lyrics are called out in JS, so I need help on how to do it there.

[2022-01-20 15:31] KendallDoesCoding commented on #103
No problem! Get well soon. Have a good break!

I too was suffering from covid, over the last few weeks, it was pretty bad.

[2022-01-20 15:37] TechStudent11 commented on #105
I just need to make a slider.. the problem is that I don't know how

[2022-01-20 16:14] KendallDoesCoding commented on #105
I'm planning to add a section in the README.md or on the website to give credits to all the people that helped make things in this project, so if you use this please let me know though @TechStudent11 .

[2022-01-20 16:17] KendallDoesCoding commented on #60
I still need to delete the image src from body though, even though the issue was more or less sorted by #83 I need to just add the img src in html and format it in css, but I may need help though still.

[2022-01-20 16:17] TechStudent11 commented on #105
Thanks. I'll probably use it.

[2022-01-20 16:19] KendallDoesCoding commented on #60
@TechStudent11 I'll try to do this myself, but can you work on this?

[2022-01-20 16:22] TechStudent11 commented on #60
I'm currently working on #105, sorry. I also have school, so yeah.

[2022-01-20 16:29] KendallDoesCoding commented on #105
Welcome :)

[2022-01-20 16:29] KendallDoesCoding commented on #60
No probs! I'll try doing this myself and ask you if something goes wrong.

[2022-01-20 18:21] KendallDoesCoding opened #129 "[BUG REPORT] Songs do not play if inspect element is open"
If the inspect element is open in the side, the songs do not play which shouldn't be the case considering its playing via a Youtube Embed, idk what's the issue.

Do you know what the issue might be @TechStudent11 ?

[2022-01-20 18:21] KendallDoesCoding commented on #129
It sends the request to play through which I can see in the network tab, but it doesn't play.

[2022-01-20 18:26] KendallDoesCoding commented on #129
In the inspect element, its giving me a weird file called account_menu etc, with this:

{error: {code: 400, message: "Request contains an invalid argument.",…}}
error: {code: 400, message: "Request contains an invalid argument.",…}

[2022-01-20 18:47] TechStudent11 commented on #129
idk http stuff it's a netlify issue.

[2022-01-20 18:54] KendallDoesCoding commented on #129
Ok, I'll try it on localhost and if I don't face the issue, I'll close this thread and mention in README.md where I've mentioned about it that, it's a issue with my hosting service, please test it on localhost.

[2022-01-20 18:55] TechStudent11 commented on #129
k

[2022-01-20 19:04] KendallDoesCoding commented on #129
I tried this on localhost and its still not working.

[2022-01-20 19:05] KendallDoesCoding commented on #129
![image](https://user-images.githubusercontent.com/84712013/150405323-ef7824d6-042e-434c-8052-fc5ce2a5f97c.png)

[2022-01-20 19:07] KendallDoesCoding opened #131 "Apply darkmode on other projects page"
Add the toggle darkmode button on the other projects page too.

[2022-01-20 19:26] KendallDoesCoding opened #135 "[FEATURE REQUEST] Don't allow user to select text."
Can be done using this: https://www.arungudelli.com/tutorial/css/disable-text-selection-in-html-using-user-select-css-property/

[2022-01-21 02:25] KendallDoesCoding commented on #129
Yeah, I understood that. But, it was working before when I opened inspect element that's why I added a console log if the song is played or no. I think a new element added to the site messed this up? So should I close this?

[2022-01-21 02:41] #135 closed

[2022-01-21 07:32] KendallDoesCoding opened #137 "Experiment with swatches as background colors for buttons."
Rn the colors for a button are a certain color, but maybe gradients may looks better? I used this website called [cssgradiants.io](https://cssgradient.io/) for a [section in my quiz](https://quiz.kendalldoescoding.gq/topics/) and it looked pretty cool.

Refer to: https://cssgradient.io/swatches/

[2022-01-21 07:37] KendallDoesCoding commented on #98
@TechStudent11 Can you open another PR to work on this?

[2022-01-21 07:42] KendallDoesCoding opened #138 "Update image file name from day/night to dark/light."
Update the image names to dark/light and call out dark/light in the code instead of day/night.

[2022-01-21 07:50] KendallDoesCoding opened #139 "Update darkmode.js in ludsocials directory"
Rn, in the darkmode.js file in the ludsocials directory the code is as follows for line 3

[code]

I need it to be
[code]

Update the text from lyrics to socials, but idk how to

Waiting for @aliraza944 to come back from his holiday to help me on this.

[2022-01-21 07:52] KendallDoesCoding commented on #129
Closing in favor of commit 47fe55b

[2022-01-21 07:52] #129 closed

[2022-01-21 07:53] KendallDoesCoding commented on #80
@TechStudent11 I need you make it so that the toggle button size is small if the screen size is small. Can you do that?

[2022-01-21 13:02] TechStudent11 commented on #80
For dark mode?

[2022-01-21 13:48] KendallDoesCoding commented on #80
Yes for the darkmode/lightmode button.

[2022-01-21 13:48] KendallDoesCoding commented on #80
Its coming in the way if screen size is big rn

[2022-01-21 13:57] TechStudent11 commented on #80
k

[2022-01-22 06:49] KendallDoesCoding opened #147 "[BUG REPORT] User can still select text in the "Other Projects" directory"
User can still select text in the other similar projects page

[2022-01-22 06:55] #147 closed

[2022-01-22 07:31] KendallDoesCoding commented on #16
Considering adding this again, as #20 is fixed.

[2022-01-22 07:57] KendallDoesCoding opened #151 "[FEATURE REQUEST] Remove violet text in Other Projects, have a button that if tapped will download that on the local drive."

[2022-01-22 16:21] KendallDoesCoding commented on #151
@TechStudent11 Do you think this is a good idea?

[2022-01-22 16:24] KendallDoesCoding commented on #131
Waiting for @aliraza944 to be fine and come back from his holiday to work on this, I can understand what the issue is exactly

[2022-01-22 16:25] KendallDoesCoding commented on #98
Thanks, I'll add the working-on label back when you make the PR. I need this done as fast as possible, but take your time :)!

[2022-01-22 16:26] KendallDoesCoding commented on #103
Assigned you, @aliraza944 but I don't want you to work on this now. Please take rest and work on this when your feeling better.

[2022-01-22 17:07] TechStudent11 commented on #151
Please elaborate more please.

[2022-01-22 18:34] KendallDoesCoding commented on #151
I'll remove the violet text in the other projects page - mogulchristmas.netlify.app/otherprojects/ and add a button that if tapped it will download a file with the text on the local disk.

[2022-01-22 18:36] KendallDoesCoding opened #155 "[FEATURE REQUEST] In the lyrics directory, stop song after the song is played dont go to the next song"
I'm rn in this page: https://mogulchristmas.kendalldoescoding.gq/lyrics/christmassong/, after the christmas song its playing the next song. I want to make it so that after the christmas song is played it stops completely playing anything. I'm working on this for all the songs in the lyrics directory.

[2022-01-22 18:42] #155 closed

[2022-01-23 06:50] KendallDoesCoding commented on #106
@TechStudent11 Do you know how to do this? If yes, can you help me out with it?

[2022-01-23 06:52] KendallDoesCoding commented on #138
I'll prefer if @aliraza944 does this so I don't mess up anything. But, I just think its a name change and path change wherever the darkmode is called, so I'll try doing this myself, and will ask @aliraza944 for help if needed, once he is feeling better, so I'm not putting the on-hold label here.

[2022-01-23 06:54] KendallDoesCoding commented on #98
@TechStudent11 Should I put the on-hold label for this or will you be working on this soon. As mentioned, I need this done as soon as possible.

[2022-01-23 07:01] KendallDoesCoding commented on #125
I can work on this now.

[2022-01-23 14:33] TechStudent11 commented on #151
but why?

[2022-01-23 14:35] TechStudent11 commented on #106
Hmmm tbh idk how.

[2022-01-23 14:36] TechStudent11 commented on #98
sure ig. I've been working on my own projects so I haven't been checking GitHub.

[2022-01-23 14:47] KendallDoesCoding commented on #151
I think the violet text looks too much, so I thought of this but I'll try
to format the violet text better.

On Sun, 23 Jan 2022 at 20:03, TechStudent10 ***@***.***>
wrote:

[2022-01-23 14:48] KendallDoesCoding commented on #106
Ok

[2022-01-23 14:49] KendallDoesCoding commented on #98
Ok cool. I'll put this on-hold if your busy, but I'll need this done in a couple of days time when you get time.

[2022-01-23 15:04] TechStudent11 commented on #151
no as in why do you want to download a file to the user's disk?

[2022-01-23 15:07] KendallDoesCoding commented on #151
I mean, its a stupid idea ik but I thought it could work. But, I don't think I'm gonna be using it. for the download lyrics it made sense, but here it doesn't really, right?

[2022-01-23 15:07] #151 closed

[2022-01-23 15:17] TechStudent11 commented on #151
yeah

[2022-01-24 16:11] aliraza944 commented on #138
Ok so I am working on a project right now and so I will do this over the weekend.

[2022-01-24 17:17] KendallDoesCoding commented on #138
Ok cool. Thanks a lot!

On Mon, 24 Jan 2022 at 21:41, Ali Raza ***@***.***> wrote:

[2022-01-26 11:51] KendallDoesCoding commented on #138
@aliraza944 I tried doing it in #161 but the images don't display, unless the user taps the button, can you make the required edits in that pr itself? #161

[2022-01-26 14:59] aliraza944 commented on #138
@KendallDoesCoding the approach is right. I would have done the same thing but let me free some time I will work on it.

[2022-01-26 15:22] KendallDoesCoding commented on #138
Ok cool! Thanks a lot, I was just trying to do it myself, but as you
mentioned on the 24th, you'll do it around the weekend right?

On Wed, 26 Jan 2022 at 20:29, Ali Raza ***@***.***> wrote:

[2022-01-27 08:47] KendallDoesCoding opened #163 "[FEATURE REQUEST] You may like these songs too button"

[2022-01-27 12:25] aliraza944 commented on #139
replace the `toggle_lyrics_page` variable with `toggle_socials_page`. I think this will do the trick.

[2022-01-27 12:49] KendallDoesCoding commented on #139
I

On Thu, 27 Jan 2022 at 17:55, Ali Raza ***@***.***> wrote:

[2022-01-27 12:49] KendallDoesCoding commented on #139
I replaced the text, and it didnt work.

[2022-01-27 12:51] KendallDoesCoding commented on #139
The darkmode doesnt work see: https://deploy-preview-165--mogulchristmas.netlify.app/ludsocials/

[2022-01-27 12:58] aliraza944 commented on #139
there must be something missing. On your local environment add the log statement inside the `modeSwitch` function and then start debugging. Move this to the `discussions` tab on the github.

[2022-01-27 14:04] KendallDoesCoding commented on #139
I'm not doing it locally, I'm doing it via the deploy preview. Does it work for you locally?

[2022-01-27 15:57] KendallDoesCoding opened #167 "[POSSIBLE FEATURE] Add ludwig's face as the cursor"
Maybe add ludwig's face/emote as the cursor in the future?

https://www.codegrepper.com/code-examples/css/how+to+change+the+cursor+to+an+image+in+html

@TechStudent11 @aliraza944 Do you think this is a good idea?

[2022-01-27 15:57] #167 closed, assigned to nobody

[2022-01-28 17:05] #16 closed

[2022-01-28 17:12] KendallDoesCoding opened #169 "[BUG REPORT] Stuff loading before other stuff"
Confusing title, but let me explain.

Sometimes, in the main directory, the buttons load a millisecond before the song, also in the lyrics directory the buttons and Christmas trees load before the lyrics, I would like to fix this if possible as soon as possible.

@aliraza944 This is technical work, so can you have a look at this on priority, please over the weekend?. Thanks a lot!

[2022-01-28 17:15] KendallDoesCoding commented on #60
I made this PR, mainly because the christmas trees were showing little above bottom right/left, I think this issue should be fixed though so closing this for now, Will re-open if needed in the future.

[2022-01-28 17:15] #60 closed

[2022-01-28 17:20] KendallDoesCoding commented on #80
@TechStudent11 Ik you said coz you didnt code this part it may be a little hard, but can you try to work on this. If you can't understand please let me know today.

And if not, @aliraza944 please do the needful on priority for the next release.

Thanks!

[2022-01-28 17:21] TechStudent11 commented on #80
I don't entirely understand it. So yeah.

[2022-01-28 17:29] KendallDoesCoding commented on #80
I haven't really had a look at it, I've been pretty busy. @aliraza944 Please have a look and resolve this when your free :). Thanks!

[2022-01-30 05:58] #131 closed

[2022-01-30 06:00] KendallDoesCoding opened #173 "Update colors for darkmode in Other Projects page"
When darkmode is activated in the other projects page the colors don't look too good for the heading and the current violet text, so make it a little darker color that will suit darkmode.

[2022-01-30 12:42] KendallDoesCoding commented on #173
Done in commit bcac0c0

[2022-01-30 12:42] #173 closed

[2022-01-30 14:06] #163 closed

[2022-01-30 14:17] KendallDoesCoding opened #176 "[BUG REPORT] After one time of turning on darkmode and then turning it off the image doesn't show but darkmode works after that."
In the you may like directory, darkmode only works one time to turn on. Idk what the issue is need @aliraza944 's help to sort it out

[2022-01-30 14:18] KendallDoesCoding opened #177 "[BUG REPORT] remove red portion of button in you may like directory"
I removed the "Mogul Christmas Playlist" button in the you may like directory but still I can see a portion of the button, needs to be removed soon

[2022-01-30 15:00] KendallDoesCoding commented on #176
Actually, it works, just the image preview doesn't show up, can you help me with that @aliraza944

[2022-01-30 15:03] aliraza944 commented on #176
Image preview of what?

[2022-01-30 15:13] #177 closed

[2022-01-30 15:15] KendallDoesCoding commented on #176
of images/day.png and images/night.png

[2022-01-30 15:26] KendallDoesCoding commented on #169
YES, with the code in #145 in the lyrics directory the buttons don't show before the lyrics, everything loads at once. @TechStudent11 Do you know why that issue was being caused by the trees?

[2022-01-30 15:29] KendallDoesCoding commented on #169
nvm it still does, as i think i mentioned before this issue happens only SOMETIMES but it's annoying the times it comes.

[2022-01-30 15:40] TechStudent11 commented on #169
it's literally a millisecond. and as you said, it happens **SOMETIMES**

[2022-01-30 15:40] KendallDoesCoding commented on #98
@TechStudent11 Let me know when you will be able to start working on this,

[2022-01-30 15:41] KendallDoesCoding commented on #169
still, ik its not a big deal, but it annoys me a lot, but if there's no fix then its ok as it is, If there is a fix then I would still prefer that.

[2022-01-30 15:43] KendallDoesCoding opened #182 "Text colors for darkmode can be adjusted"
The text colors for stuff in darkmode can be adjusted to look better.

[2022-01-30 15:44] KendallDoesCoding opened #183 "Songwritter not mentioned in "You May Like" directory"
For, must be santa, I mentioned "by Bryan Dylan" but for Jingle Bell Rock I didn't mention who it is by.

[2022-01-30 15:48] KendallDoesCoding opened #184 "[BUG REPORT] Lyrics color changed?"
In release 11.2.6, I made the lyrics color a nice color for some reason their changed now?

[2022-01-30 15:48] #182 closed

[2022-01-30 15:48] #183 closed

[2022-01-30 15:54] KendallDoesCoding commented on #184
I got rid of the css bymisstake.

[2022-01-30 16:15] aliraza944 commented on #176
the image file path is not correct in the script file. that's the reason

[2022-01-30 16:27] TechStudent11 commented on #98
ok

[2022-01-30 16:28] TechStudent11 commented on #169
https://www.youtube.com/watch?v=nJ81DFmgHdU

[2022-01-30 16:28] #184 closed

[2022-01-30 17:41] KendallDoesCoding commented on #176
Thanks

[2022-01-30 17:41] KendallDoesCoding commented on #176
Fixed in 119cf20

[2022-01-30 17:41] #176 closed

[2022-01-30 18:06] KendallDoesCoding opened #187 "[FEATURE REQUEST] Loop song button"
A small button that if tapped will loop the song.

The code that needs to be added to the embed for this to work is loop=1, that's the youtube api code.

@TechStudent11 Please work on this today, if possible otherwise tommrow. Thanks

[2022-01-30 18:25] TechStudent11 commented on #187
The thing is, I don't think I loop a specific segment of a video. Can I?

[2022-01-30 18:39] KendallDoesCoding commented on #187
Yes, little extra work but all the songs are listed in the playlist right? Can you make a func that if the loop button is pressed it knows what song was played on top and using the title of the song it will loop via the youtube video of that individual song? Or, will that mess up things? If possible, this would be great, otherwise, its not really needed, just a idea.

[2022-01-30 18:41] KendallDoesCoding commented on #169
For now, I don't think this is too much a concern coz the project site is working properly, just in future, I'll try to research ways to fix this. Closing for now..

[2022-01-30 18:41] #169 closed

[2022-01-30 18:42] KendallDoesCoding commented on #103
@aliraza944 Can you work on this soon?

[2022-01-30 18:55] KendallDoesCoding commented on #98
Thanks.

[2022-01-30 18:57] KendallDoesCoding commented on #80
@aliraza944 Waiting for you to work on this!

[2022-01-30 18:58] TechStudent11 commented on #187
When you say a little extra work, you mean a ton of API requesting. Yes, this is possible, and yes I can do it, but it would require a ton of code, debugging and refactoring.

In short, it isn't worth it.

[2022-01-31 05:48] aliraza944 commented on #103
I am quite busy with other projects right now. I'll see what I can do.

[2022-01-31 05:49] aliraza944 commented on #103
It's a basic CSS problem. You can open the chrome inspect tools and fiddle with the CSS over there.

[2022-01-31 06:10] KendallDoesCoding commented on #187
True.

I found that stackoverflow too, but I didn't understand it lol

[2022-01-31 08:39] KendallDoesCoding commented on #137
I tried the color the color swatches in #152, #154 and #157 , they look good but I think I'll stick to the solid colors like they are now for a bit.

[2022-01-31 08:39] #137 closed

[2022-01-31 08:40] KendallDoesCoding commented on #187
@TechStudent11 So, can you work on this?

[2022-01-31 17:50] KendallDoesCoding commented on #80
@TechStudent11 The website as gone back to not responsive, but now the songs play in inspect element? but i would still prefer it responsive over songs playing in inspect element lol.

anyway, i removed this from css but I dont think its related to this issue

Commit: 53f9cacd6958a74cda1430287a48bc2c42fd5a79
body.lyrics {
	background-image: none;
}

[2022-01-31 17:52] KendallDoesCoding commented on #80
@TechStudent11 I think this is since, I worked on https://github.com/KendallDoesCoding/mogul-christmas/pull/145 because you made it responsive when the trees were in the body, I need you to make it responsive when its within a div too now, sorry for giving you extra work. We both agreed that we needed to remove the trees from the body ASAP xD

[2022-01-31 17:53] KendallDoesCoding commented on #80
But as I said, after I added the trees via the div class the songs play in the inspect element? Idk what the issue is, after you make the site responsive again if it makes this issue again, its pretty weird. But, I prefer the site being responsive instead of the songs able to play in the inspect element.

[2022-02-01 08:43] KendallDoesCoding commented on #80
@TechStudent11 Can I assign you to this PR?

[2022-02-01 15:53] KendallDoesCoding commented on #80
Opened #188 to see if it was coz I removed this code, it seems to be another issue. Please fix this as soon as you can @TechStudent11

[2022-02-01 16:02] aliraza944 commented on #80
Guy if you really want to scale this project then use a js framework of some sort like react or next js. Then use a UI library like tailwind or bootstrap. This will reduce the development time and increase the code's resuability.

[2022-02-01 17:46] KendallDoesCoding commented on #80
Yeah, I'm thinking of doing this actually, but I need to learn stuff like react and next js, and thats not possible when node doesnt want to work on your computers and you gotta use gitpod. If, i dont understand node, react and next js then I'll not be able to do anything in this project lol. But, I get what your saying @aliraza944

[2022-02-01 21:59] TechStudent11 commented on #80
I've been using React in projects for I would say, almost a year, so converting it to JSX doesn't seem too hard.

Oh wait, routing... It isn't as easy. You need to use a separate library called `react-router-dom`.

I guess `Next.js` is the best solution. I actually haven't used `Next.js` ever, but I think it's just React with some Next specific tools.

[2022-02-01 22:01] TechStudent10 opened #189 "Convert to Next.js"
So, which one do we pick?

[2022-02-02 07:23] KendallDoesCoding commented on #189
Ok, I'll be honest with you, I dont really want to change this project to node (may change after I learn react) because while it may help you and aliraza to contribute to this project, if anyone else wants to contribute they too are forced to know node, and I think more people know basic HTML then node and react, according to me. So, if you think it wont take that long, then you can convert it to

[2022-02-02 08:47] aliraza944 commented on #80
i have experience with the next js for this static site I think it's the best solution.

[2022-02-02 10:05] KendallDoesCoding commented on #189
Alhough, coz you will be putting in the effort, ig this can be a seprate repo altogether? So, people can choose to either contribute to this HTML page or the react one accordingly, but I will still need your and @aliraza944 's help with this repo, especially the JS, but not as much.

So, if that's fine with you, feel free to make a repo for this on the Kendall-Does-Coding-Websites organization.

T

[2022-02-02 10:21] aliraza944 commented on #189
Ok yeah, create a separate repo for the next js project.

[2022-02-02 10:33] KendallDoesCoding commented on #189
I prefer it being on the organization, but let me know if I should make it on my personal account and will do the needful, making yall the collabs for the repo. If, I do it on the organization, @TechStudent11 already has access and you will get access once you accept my request for you to join the organization too.

[2022-02-02 11:40] KendallDoesCoding commented on #189
I had some time to think about this, and decided that, if needed this can be in this repo in a branch and I may make you guys collab of the project too.

[2022-02-02 14:32] aliraza944 commented on #189
ok do it.

[2022-02-02 21:33] TechStudent11 commented on #189
You can know basic HTML and know React. React is basically HTML with a sprinkle (or chunk) of JS.

[2022-02-03 06:34] KendallDoesCoding commented on #189
Ok

[2022-02-03 08:13] KendallDoesCoding commented on #187
@TechStudent11 Please can you work on this on priority as soon as possible?

[2022-02-03 09:30] KendallDoesCoding opened #192 "Make a directory to thank contributors on the site."
Make a directory to thank contributors on the site and link it via the README.md, dont list it on the main site though.

[2022-02-03 09:36] KendallDoesCoding commented on #192
On second thought, I don't think, I'll add this for the simple reason that what should I inculde there, maximum everything I inculded in the thank you contributors section in commit [e2af344](https://github.com/KendallDoesCoding/mogul-christmas/commit/e2af344e30c0ddfdbabfc0b1cd982f1bd69bd4c8)

I was thinking of using a github api to tell what each contributor of project has done but I cant seem to

[2022-02-03 12:09] TechStudent11 commented on #192
https://docs.github.com/en/rest/reference/collaborators

[2022-02-03 12:10] KendallDoesCoding commented on #192
This is using json right? Can you work on this?

[2022-02-03 12:11] TechStudent11 commented on #192
So for the website right?

[2022-02-03 12:13] KendallDoesCoding commented on #192
yeah, you can make a directory called /collaborators, and do this there, I arent planning putting the directory on the main site. I will link it in README.md though

[2022-02-03 12:13] TechStudent11 commented on #192
Hmmm, maybe in a few hours.

[2022-02-03 12:13] TechStudent11 commented on #192
aka later today

[2022-02-03 12:14] KendallDoesCoding commented on #192
Yeah ofc, take your time. This isnt something I need done on priority, I made a list of what I need done ASAP: https://github.com/users/KendallDoesCoding/projects/3

[2022-02-04 18:27] KendallDoesCoding commented on #187
Waiting for your reply on this @TechStudent11 ... Thanks

[2022-02-04 19:50] TechStudent11 commented on #187
Tell me where you want the button to be placed and I'll handle the rest.

[2022-02-05 04:39] KendallDoesCoding commented on #187
After the song has been started playing, a small button can appear above the lyrics button.

[2022-02-05 05:51] KendallDoesCoding opened #193 "More credit to song creators in the you may like directory"
I'm putting the artist's name in the hyperlink, but I think another page with all the artists socials, atleast with their name and YT or any other music streaming platform, for example another directory in the yml directory called artists

A basic HTML page to say the following for example:

Bryan Adams (hyperlink to take to YT)

@TechStudent11 Do you think this is a good idea?

[2022-02-05 05:54] KendallDoesCoding commented on #105
@aliraza944 You know how to do this?

[2022-02-05 06:12] KendallDoesCoding commented on #193
Thought of a better idea, actually.

The idea is, that I'll make a new directory called credits, on that directory, I'll give credits to Ludwig, QT and if I find anyone who produced Mogul Christmas, under the section, Mogul Christmas Team, then I'll make a section called Artists in the You-May-Like catergory, and list the hyperlinks as decided before, then, I'll add a contributors section and embe

[2022-02-05 06:13] KendallDoesCoding commented on #192
Adding the after-pr label now, as I though of another idea, #193 . I'll start work on that, and you can do work on the same PR or in a different one @TechStudent11 . I'm making the branch to work on #193 in the organization forked repo.

[2022-02-05 06:46] aliraza944 commented on #105
You can take references from this article [https://www.w3schools.com/tags/av_prop_volume.asp](w3school). Just get the DOM node of the video tag and assign value to its volume property.

[2022-02-05 07:08] KendallDoesCoding commented on #193
I'm done with the contributors section, and think its better to link the page which will be made with a text, "Commits by Contributors" instead of the hyperlink being in the text "Project Contributors (People that helped make this website a success :)"

[2022-02-05 07:09] KendallDoesCoding commented on #193
I'll actually add this text now itself, and make a directory for you to work on #192 which will say COMING SOON for now, but will need you to work on that as soon as possible.

[2022-02-05 07:27] KendallDoesCoding commented on #192
@TechStudent11 Please work on this issue in the following:

Directory - https://github.com/Kendall-Does-Coding-Websites/mogul-christmas/tree/work-on-193/credits/commits
HTML - https://github.com/Kendall-Does-Coding-Websites/mogul-christmas/blob/work-on-193/credits/commits/index.html

Feel free to create a CSS, JS file in this directory if needed. I've called out this directory in the credits page

[2022-02-05 07:28] KendallDoesCoding commented on #192
In the HTML I added a h1 saying coming soon, delete that when you start working on this.

[2022-02-05 07:31] KendallDoesCoding commented on #105
Thanks, will have a look at this shortly. If, I'm not understanding how to do it, I may need your help or @TechStudent11 's help when yall are free coz I wanted to add in the project from a long time coz rn you cant mute/stop the song, with this I can also try to add a stop button, that if tapped, the volume automatically goes onto mute, or something like that.

[2022-02-05 08:01] aliraza944 commented on #105
Alright no problem

[2022-02-05 12:49] TechStudent11 commented on #187
okay

[2022-02-05 15:16] TechStudent11 commented on #187
Okay so I looked at it a bit more, and this is going to require basically a full rewrite. I think we should hold off on this feature until the React/Next rewrite (#189) is complete.

[2022-02-05 15:45] KendallDoesCoding commented on #187
Ok cool

[2022-02-06 07:05] KendallDoesCoding commented on #192
@TechStudent11 Please start working on this today or tommrow, thanks.

[2022-02-06 12:46] TechStudent11 commented on #192
Can’t today. My computer is in a bit of a state of “hiatus”. Can’t tomorrow because well I have other things I have to do (school, etc). Sorry. I work on it as soon as I am available. I’m actually typing this on my phone haha. By the way, what do you even want on this page? You want to thank the contributors, but how?

[2022-02-06 12:50] KendallDoesCoding commented on #192
Ok, np. Do it as soon as your free. I thought your doing it using this right? https://docs.github.com/en/rest/reference/collaborators

[2022-02-07 17:24] KendallDoesCoding commented on #98
@aliraza944 @TechStudent11 Can you guys get down to work on this today?

[2022-02-10 10:32] KendallDoesCoding opened #196 "Add favicon in title"
Add a favicon and add it in title instead of the current glove

[2022-02-11 06:08] #196 closed

[2022-02-12 06:04] KendallDoesCoding commented on #187
If someone else can work on this in the current way it is, ig we'll proceed. Hope that's fine @TechStudent11

[2022-02-12 14:39] TechStudent11 commented on #187
yeah sorry. I've been working on a mobile app, so I haven't been working on anything else, really.

[2022-02-12 15:43] KendallDoesCoding commented on #187
No, you said we should do this after we convert it to React or Next.JS so
that's why I asked this. I kinda knew you were using the mobile app.

On Sat, 12 Feb 2022 at 20:09, TechStudent10 ***@***.***>
wrote:

[2022-02-12 16:24] TechStudent11 commented on #187
Ohh okay.

No, as in I am coding a mobile app.

[2022-02-12 20:22] TechStudent11 commented on #187
I'm using React Native with the Expo CLI.

[2022-02-13 05:16] KendallDoesCoding commented on #187
interesting

On Sun, 13 Feb 2022 at 01:52, TechStudent10 ***@***.***>
wrote:

[2022-02-13 14:23] krshdev commented on #105
Can I work on this?

[2022-02-13 14:47] KendallDoesCoding commented on #105
Assigning you as per our discussion on DISCORD

[2022-02-13 15:30] KendallDoesCoding commented on #105
Yeah... You can help Krish if needed while he works on this. :)

[2022-02-15 09:59] KendallDoesCoding commented on #189
Yall can start working on this @TechStudent11 @aliraza944

[2022-02-15 10:01] KendallDoesCoding commented on #80
@TechStudent11 Please work on this issue using CSS for now, this is very urgent and I need it done as soon as possible. Please make a PR, I want to release this in the next release, which I'm planning to be around next week.

[2022-02-15 10:23] KendallDoesCoding commented on #103
I know, but can you make a PR please. I need a bit of help and this is very URGENT. Thanks

[2022-02-15 21:23] TechStudent11 commented on #80
I'm sorry but I can't continue working on this at the scale that I am right now. I'm trying to focus on my own projects, so working on this and my own projects isn't going to work.

I would recommend actually learning the basics of JS so that you don't need @aliraza944 to do everything relating to that.

I will still come here sometimes, but not all.

---

I hope you understand.

[2022-02-16 08:11] KendallDoesCoding commented on #80
Yup. I totally understand that. At the end of the day, this is my project
not your or aliraza's project for that matter so I need to code what I want
in the project, and can maximum ask yall for help on a basic thing :)

On Wed, 16 Feb 2022 at 02:53, TechStudent10 ***@***.***>
wrote:

[2022-02-16 16:38] KendallDoesCoding commented on #80
A basic solution to this is to, hide all the images if the screen size is small, although the toggle of darkmode image will go too, @aliraza944 I need you after my PR to add the darkmode button back and make it smaller, or add a moon icon for the darkmode for mobile screen sizes (feel free to use font awesome) when you get time :).

Thanks

[2022-02-16 16:45] KendallDoesCoding commented on #80
I removed the christmas trees for small screen size, the toggle is merging with the title but it doesn't really interfere with users touching and playing the songs, the christmas trees before were merging with the song text, so ig I'll leave the toggle in for now. But, I would love to fix the issue even with the toggle, so please help @aliraza944 when you get time.

[2022-02-17 02:38] TechStudent11 commented on #80
Thank you for understanding.

[2022-02-17 09:50] KendallDoesCoding commented on #105
There is kinda a way to pause the song, is your using Chrome. Will inculde that in README.md, shortly.

[2022-02-17 09:50] KendallDoesCoding commented on #105
But, I still prefer it built in to the site.

[2022-02-17 11:36] #193 closed

[2022-02-17 12:19] KendallDoesCoding opened #201 "[FEATURE REQUEST] - Make all songs in You May Like directory youtube video short url."
Youtube has 2 kinds of urls, a long url, for eg: youtube.com/?watch=1234, and the other one being youtu.be/1234. Right now, its the first way but to shorten the url I think it should be made youtu.be.

[2022-02-17 14:22] TechStudent11 commented on #201
I don't think this is really necessary. The long links work in embeds, the short ones don't.

[2022-02-17 15:49] KendallDoesCoding commented on #201
It's not a embed its just a hyperlink, I think its better for formatting purposes, but yeah its not really needed so putting it "on-hold" for now.

[2022-02-17 16:10] TechStudent11 opened #202 "[FEATURE REQUEST] - Change font"
**Is your feature request related to a problem? Please describe.**
The font is Arial.

**Describe the solution you'd like**
Change it.

**Why do you think we should add this feature? How will it be useful for the project?**
It would make it look nicer.

[2022-02-17 16:42] KendallDoesCoding commented on #202
Thanks. Will have a look when done with the "Minecraft" quiz topic.

[2022-02-18 05:22] krshdev commented on #105
@TechStudent11 If you want to work on this I have no issues, I will work on some other issue :)

[2022-02-18 06:14] KendallDoesCoding commented on #202
For the heading "A Very Mogul Christmas" I was planning to keep a fancy font, but for the other text on the site and directories of the site, I think I'll stick to Roberto, but I'll see how Open Sans looks and will decide accordingly.

[2022-02-18 07:53] KendallDoesCoding commented on #202
Where can you see that the font is aria currently? I can't change it to Roberto for some reason, changed the heading.

[2022-02-18 07:54] KendallDoesCoding commented on #202
Managed to do it, I called the css out where @aliraza944 made.

[2022-02-18 08:13] #202 closed

[2022-02-18 08:13] KendallDoesCoding commented on #202
@TechStudent11 Please refer to the commit this issue got closed by and visit the project site and let me know if you like the fonts.

Thanks

[2022-02-18 08:56] sc0rp10n-py commented on #189
Hey, add me to the React/Next JS repo too then, it would be easy for me to contribute and implement all the features. Even the new UI I have in mind will be good with React/Next framework.

[2022-02-18 08:57] sc0rp10n-py opened #203 "UI update to the project"
I made a short mock up for the UI update that according to me would be better with aspect from UI and UX.

![image](https://user-images.githubusercontent.com/49873605/154650600-1b1b0f32-d059-47d9-8981-d001a5c72e21.png)

[2022-02-18 09:07] KendallDoesCoding commented on #189
Will do! We haven't started work on this yet, I believe.

[2022-02-18 10:04] KendallDoesCoding commented on #203
Looks good, for now work  with this design for HTML, CSS AND JS can be implemented.

[2022-02-18 10:24] KendallDoesCoding commented on #203
@sc0rp10n-py As you are working on the UI, is this something you can implement, #106 ?

[2022-02-18 11:07] KendallDoesCoding commented on #189
@sc0rp10n-py @TechStudent11 @aliraza944 Feel free to start work here, first accept my invitation to be collab: https://github.com/KendallDoesCoding/react-mogul-christmas

[2022-02-18 18:52] KendallDoesCoding opened #205 "[FEATURE REQUEST] Random song button in You May Like directory"
A icon like attached screenshot below that if tapped will open any random url from the songs mentioned below... I think a easy way to do this is to provide a list of all the urls of the songs in the you may like directory using JS, that if tapped will pick one random url and open the youtube link in the new tab:
![image](https://user-images.githubusercontent.com/84712013/154744633-e8fe3d60-32d1-4a

[2022-02-18 21:01] TechStudent11 commented on #105
I can only do volume buttons 😈

[2022-02-18 21:15] TechStudent11 commented on #189
I'll probably generate some React/Next code over the weekend.

@sc0rp10n-py What framework do you plan on using?

[2022-02-18 21:16] TechStudent11 commented on #203
Yoo! That looks absolutely awesome! Plus if we switch to React, audio playback would be way easier to implement.

[2022-02-18 21:17] TechStudent11 commented on #205
Hm. A random number generator could be made to do this. However I would wait for #203 and #189 to be completed.

[2022-02-19 07:10] KendallDoesCoding commented on #105
I mean, you can start will the buttons, and then Krish works on the slider?
Make a PR if you get free @TechStudent10

On Sat, 19 Feb 2022 at 02:32, TechStudent10 ***@***.***>
wrote:

[2022-02-19 07:10] KendallDoesCoding commented on #202
indeed. thanks for the suggestion

On Sat, 19 Feb 2022 at 02:32, TechStudent10 ***@***.***>
wrote:

[2022-02-19 07:11] KendallDoesCoding commented on #189
From my discussion with him React, I believe.

On Sat, 19 Feb 2022 at 02:45, TechStudent10 ***@***.***>
wrote:

[2022-02-19 07:12] KendallDoesCoding commented on #203
Yeah, I believe @sc0rp10n-py is working on this issue.

[2022-02-19 07:13] KendallDoesCoding commented on #205
Yeah maybe, I want a basic design now but once we do those issues, we can
improve the design?

On Sat, 19 Feb 2022 at 02:47, TechStudent10 ***@***.***>
wrote:

[2022-02-19 09:38] KendallDoesCoding commented on #98
@TechStudent11 I think this can be done now itself, as it just needs local storage right? You were working on it but I needed to feature you merged this with the PR which did something else, so I merged that, so don't see the need so of "Do this after the switch is complete".

[2022-02-19 09:40] KendallDoesCoding opened #206 "[FEATURE REQUEST] Icons to open playlist in music platfoms."
Below, "Christmas Album by Ludwig" add icons for Spotify, Apple Music, Youtube Music using Font Awesome that if clicked will open the Mogul Christmas album in the respective platform.

[2022-02-19 10:04] sc0rp10n-py commented on #203
I don't quite get the layout you are asking, can you give some rought eg?

[2022-02-19 10:05] sc0rp10n-py commented on #203
I don't quite get the layout you are asking, can you give some rought eg?

[2022-02-19 10:07] sc0rp10n-py commented on #189
NextJS would be better imo

[2022-02-19 10:31] KendallDoesCoding commented on #203
Above, A Merry Mogul Christmas, in the top right corner I want the 3 buttons which are currently below the songs in the website.. Hope you understood.

[2022-02-19 10:32] KendallDoesCoding commented on #189
Then all of us (TechStudent, aliraza, you) want to work on next.js. Let's go ahead.

[2022-02-19 11:08] KendallDoesCoding commented on #206
Done in commit 879a609.

@TechStudent11 @sc0rp10n-py Do you think it looks nice? I'm on the brim of thinking both ways, but leaving it for now may revert in future.

[2022-02-19 11:08] #206 closed

[2022-02-19 14:10] TechStudent11 commented on #205
It would be better to focus on the rewrite then add new features

[2022-02-19 14:12] TechStudent11 commented on #98
Once again, it just won’t work. It’s because of the way @aliraza944 implemented the switch

[2022-02-19 14:14] TechStudent11 commented on #203
@KendallDoesCoding A design might be what they were asking do for.

[2022-02-19 14:15] TechStudent11 commented on #189
Alright I’ll generate a NextJS app in the repo when I’m at my computer

[2022-02-19 14:27] KendallDoesCoding commented on #98
Ok.

On Sat, 19 Feb 2022 at 19:42, TechStudent10 ***@***.***>
wrote:

[2022-02-19 14:28] KendallDoesCoding commented on #205
True

On Sat, 19 Feb 2022 at 19:41, TechStudent10 ***@***.***>
wrote:

[2022-02-19 14:28] KendallDoesCoding commented on #189
Thanks, I made all of the 3 people assigned to this issue collab of that repo, yall need to accept the request.

[2022-02-19 14:31] KendallDoesCoding commented on #203
On the way!

On Sat, 19 Feb 2022 at 19:44, TechStudent10 ***@***.***>
wrote:

[2022-02-19 14:38] KendallDoesCoding commented on #203
Maybe something like this?

Look at the top left corner.. I know it looks a little ugly after my edits lol
![Lyrics (1)](https://user-images.githubusercontent.com/84712013/154805456-c5ce1406-a088-465d-97d7-406947115957.png)

[2022-02-19 16:18] KendallDoesCoding commented on #205
I was actually planning on trying to finish all the issues first, then switching to Next.js because then we will get a idea of where everything needs to go @TechStudent11 , except for the really difficult ones, but I think this is easy to implement?

[2022-02-19 16:47] TechStudent11 commented on #203
I think it would look better if they weren't on top, but rather somewhere on the bottom. Somewhere in between "Song 3" and the social icons. Speaking of which, that "Socials" button isn't necessary, but rather redundant, given that those icons are already there.

[2022-02-19 16:48] TechStudent11 commented on #205
Alright, fine. I'll try. But first **you** need to create a new branch and put a button somewhere in the HTML, then I'll handle the rest of the JS.

[2022-02-19 16:56] KendallDoesCoding commented on #192
For now, I'll embed https://github.com/KendallDoesCoding/mogul-christmas/graphs/contributors into the page I made in a recent PR #(194 I believe)

[2022-02-19 17:26] KendallDoesCoding commented on #203
Yeah maybe. On the socials button, idk if that's our socials (project) or the socials of Ludwig, I made it in a separate page currently as I don't want it mixed up with the github icon on the bottom to take users to this repo, so please clarify on that @sc0rp10n-py

[2022-02-19 17:27] KendallDoesCoding commented on #205
Ok will do!

[2022-02-19 17:33] KendallDoesCoding commented on #205
YOO, Github Copilot literally did this all by itself... Working on touch ups now and will publish it to a branch.

![image](https://user-images.githubusercontent.com/84712013/154812178-22b00cc0-e158-443d-8442-28e4244265aa.png)

[2022-02-19 17:37] KendallDoesCoding commented on #205
@TechStudent11 Done.. Publishing to branch shortly.

[2022-02-19 17:43] KendallDoesCoding commented on #205
@TechStudent11 Branch is here, should I make a PR so we get the deploy link?

https://github.com/KendallDoesCoding/mogul-christmas/tree/random-song

[2022-02-19 17:44] KendallDoesCoding commented on #205
I don't wanna play song in browser (meaning i do but it will take extra js so let's keep it basic for now considering its not the main page on the website) so just I just want it to open any random url from the 11 songs in a new tab.

[2022-02-19 18:22] KendallDoesCoding commented on #105
I was trying to work on the volume slider and look what copilot gave me LOL. For the rest, idrk if we should add that xD, but for the volume slider that works just maybe make it a little small @krshdev ?

![image](https://user-images.githubusercontent.com/84712013/154813796-11e2b262-daf4-4e68-98a3-df9e3ad63cdd.png)

[2022-02-19 20:46] TechStudent11 commented on #205
WAIT YOU HAVE COPILOT!?

Alright, will do.

[2022-02-19 20:47] TechStudent11 commented on #105
please make it smaller, make the buttons not look like their from 1997 and yeah you've got good volume control

[2022-02-20 04:18] KendallDoesCoding commented on #205
Yeah, what's wrong with having copilot?

On Sun, 20 Feb 2022 at 02:16, TechStudent10 ***@***.***>
wrote:

[2022-02-20 04:19] KendallDoesCoding commented on #105
Well, that's just what copilot gave, I don't plan on working on this issue, has I don't know the JS part of things and copilot doesn't help me with that for some reason. With the slider, the songs were unplayable, but just shared the design here for @krshdev to work on a similar design.

[2022-02-20 04:22] KendallDoesCoding commented on #205
@TechStudent11 Hope the button is fine.

[2022-02-20 09:22] krshdev commented on #105
Unassigned based on discussion in Discord

[2022-02-20 14:19] KendallDoesCoding commented on #105
@TechStudent11 Please work on this when your done with the other PR if you got time :).

Thanks,
Kendall Does Coding

[2022-02-20 14:24] TechStudent11 commented on #205
Nothing, just that I'm surprised that you were able to get into the beta. When it comes to betas on GitHub, it's an absolute nightmare. I tried joining the Codespaces beta and after more than well over half a year, it goes out of beta and now you have to pay to use it.

Wait is Copilot still in beta?

[2022-02-20 14:27] TechStudent11 commented on #105
so @krshdev based on your discussion (of which I didn't read), are you working on something in this repo?

[2022-02-20 14:37] KendallDoesCoding commented on #205
Well, for copilot, they're trying a system. If you join the beta, I don't
remember how long it was, I think 1-2 months, you can download it and use
it. Most youtubers, signed up when it was announced and they got access
within 1-3 months.

I believe its still in BETA, yes.

On Sun, 20 Feb 2022 at 19:55, TechStudent10 ***@***.***>
wrote:

[2022-02-20 14:38] KendallDoesCoding commented on #105
No... He isn't, @sc0rp10n.py, is!

On Sun, 20 Feb 2022 at 19:58, TechStudent10 ***@***.***>
wrote:

[2022-02-20 14:47] KendallDoesCoding commented on #105
@aliraza944 Can you please work on this complete issue, when you get time?
@TechStudent11 As requested, can you work on the 2 icons, mute/unmute when your done with the other PR/when you get time?

[2022-02-22 10:35] KendallDoesCoding commented on #205
@TechStudent11 Please get to work on the JS part of this ASAP, I want this feature out by the 25th Feb.. Thanks a lot!

[2022-02-22 10:36] KendallDoesCoding commented on #203
@sc0rp10n-py Any progress on this? I want this out by 1st March, if possible... Thanks

[2022-02-22 21:06] TechStudent11 commented on #203
wait so now there are deadlines? I thought this was some hobby project not a full scale app

[2022-02-23 06:09] KendallDoesCoding commented on #203
There arent (the way i framed it did sound like that tho) i just want like
a approx time for the issue to be fixed but I understand yall are busy. I
won't say that in other issues from now on!

On Wed, 23 Feb 2022, 2:36 am TechStudent10, ***@***.***>
wrote:

[2022-02-23 21:22] TechStudent11 commented on #203
thanks, I appreciate that

[2022-02-24 18:50] KendallDoesCoding commented on #80
Phones which toggle button comes in the way: IPHONE SE, IPHONE 12 PRO MAX, SAMSUNG GALXY S8+ (got this only from the phones and tablets on inspect element, but others may have issue too depending on phone size similar to these phones.)

[2022-02-25 10:11] KendallDoesCoding opened #210 "YouTube music svg not the best quality"
The YouTube Music svg icon is not the best quality and can be improved

[2022-02-25 10:18] KendallDoesCoding commented on #210
The quality was decent just needed a little size updating ig? Fixed in commit 97503084395850a2f244c7a98152b3290c5d226f

[2022-02-25 10:18] #210 closed

[2022-02-25 14:06] KendallDoesCoding opened #211 "[FEATURE REQUEST] Update darkmode background color"
Darkmode is usually black, I had some issues with the song text colors when made it to black while coding the darkmode stuff, but I think I can fix that out, cause black suits it better, according to me, grey is ok but with black it can be better.

[2022-02-25 14:07] KendallDoesCoding commented on #211
Done in 64f415e2c3b0770760faa4306ec67ef52e4677de

@TechStudent11 @sc0rp10n-py Please have a look at it and let me know if you like the new color!

[2022-02-25 14:07] #211 closed

[2022-02-25 14:31] KendallDoesCoding commented on #211
Found a few errors in this, reverting shortly.

[2022-02-25 16:53] KendallDoesCoding commented on #205
WOW. This is actually easy to get done... @TechStudent11 Can I work on this? https://stackoverflow.com/questions/24509404/how-do-i-open-up-a-random-url-from-a-list-of-urls-in-a-new-time-each-time-it-is

[2022-02-25 18:44] KendallDoesCoding commented on #138
Hey Aliraza, it's been a month lol (I understand your busy so no issues though :)!).. Any updated on this

[2022-02-25 21:24] #205 closed

[2022-02-26 05:52] KendallDoesCoding commented on #205
@TechStudent11 Thanks for doing it... Did you follow the stack-overflow article?

[2022-02-26 05:57] KendallDoesCoding commented on #205
Before I make the release, just need to tweak it a bit, you added the js in the darkmode.js file and maybe make the button smaller, which I will work on doing later in the day...

[2022-02-28 09:37] KendallDoesCoding commented on #94
Done a long time back...

Closing.

[2022-02-28 09:37] #94 closed

[2022-03-01 18:28] KendallDoesCoding opened #212 "[DOCS] - Add PR template"
https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository

[2022-03-01 18:41] KendallDoesCoding commented on #82
As it is moved the wiki, newcomers, can't help with this issue..

[2022-03-01 21:04] TechStudent11 commented on #212
what is this

![image](https://user-images.githubusercontent.com/76978184/156248577-68457256-e3bf-4326-9502-7d6457facffc.png)

[2022-03-01 21:05] TechStudent11 commented on #82
which I find really pointless

[2022-03-02 08:37] KendallDoesCodingAlt1 commented on #212
It's to show the issue on http://finder.eddiehub.org... The label can be added to issues good for first mantainers, it's basically the good first issue label but to show up on the website. Although, may remove that in a bit.

[2022-03-02 12:14] TechStudent11 commented on #212
okay

[2022-03-02 13:49] KendallDoesCoding commented on #80
Unassigning you @aliraza944 Due to no reply from your end on this!

[2022-03-03 09:36] KendallDoesCoding opened #214 "Size badge not working"
Badge says: Size: "unknown"

I think the issue is that the badge is updating, deploying this happened for a similar badge in the past, but making a issue just to make sure it gets fixed asap and if it doesn't remove the badge.

[2022-03-03 09:37] KendallDoesCoding commented on #214
Locked as this is a staff-only issue.

[2022-03-03 09:40] KendallDoesCoding commented on #203
Marking this issue as on-hold as per my discussion with @sc0rp10n-py .

[2022-03-03 09:42] KendallDoesCoding opened #215 "Update ludsocials directory"
Currently, the div class is "songs" instead of "socials" in the HTML for the Lud-Socials directory, I updated the class and added the same css to it, but there's still a bug... The branch which I am working on this is linked in the "Development" if anyone can help debug the issue.

cc: @TechStudent11

[2022-03-03 10:49] KendallDoesCoding commented on #214
Fixed now.... Closing

[2022-03-03 10:49] #214 closed

[2022-03-03 12:56] KendallDoesCoding opened #216 "[BUG] CSS Not Working in Other Projects directory"
The colour was set to violet in CSS for the line after the heading, but after I removed the bullet point from text, and made it li and /li It became black again?

[2022-03-03 17:19] JeffBucherDev commented on #216
May I take a stab at this?

[2022-03-03 17:23] KendallDoesCoding commented on #216
Yup ofc. Assigning you to this issue.

[2022-03-03 17:27] KendallDoesCoding commented on #216
@JeffBucherDev Also while your at it, once the text is violet again, can you try to make the bullet point black, I tried making it black in #159 , but didn't manage to do so there.

Also, I feel like I didn't give enough details, so here's the preview before I changed it to li:
https://621fbb4104c3f80008b48a44--mogulchristmas.netlify.app/otherprojects/

The text colour requirements:
Lightmode: Vio

[2022-03-03 18:34] KendallDoesCoding commented on #216
Ok, I'll see if I can fix that. Can you please make a PR?

[2022-03-03 18:36] KendallDoesCoding commented on #216
@JeffBucherDev Oh that, That was the darkmode color before (now its black) I updated it and believe it was updated in the deploy preview link I gave you

[2022-03-03 18:38] KendallDoesCoding commented on #216
@JeffBucherDev I updated the main homepage darkmode color to black, but not the Other projects one, you've fixed the issue please make a PR.... I will make the other projects directory black for darkmode, depending on how it looks.

[2022-03-03 18:46] KendallDoesCoding commented on #216
Fixed in aa206d9. Jeff, please pull changes from latest commit and add the edits required, I'm sure that will fix the problem :D

[2022-03-03 21:18] TechStudent11 commented on #214
You shouldn't lock bug reports **before** the bug is resolved.

[2022-03-04 07:50] KendallDoesCoding commented on #214
👍

[2022-03-04 08:30] #216 closed

[2022-03-04 16:01] KendallDoesCoding opened #227 "Fix issue with AllContributors app"

[2022-03-04 17:59] KendallDoesCoding commented on #227
Seems to be fixed, may be a API problem now idk, put a bug report in the bot's repo.

[2022-03-04 17:59] #227 closed

[2022-03-04 18:00] KendallDoesCoding commented on #215
@JeffBucherDev can you work on this?

[2022-03-07 16:04] KendallDoesCoding commented on #227
@all-contributors please add @Kira272921 to the doc

[2022-03-08 09:26] KendallDoesCoding commented on #215
The only issue is the button comes down when doing this.

[2022-03-08 11:33] KendallDoesCoding commented on #192
This was pretty much done in 70233057504d7ee9df59648ceaed1f840735dc68, although what I want for this is that it displays all the commits contributors made even in PR's etc, idk if that's possible though, so please let me know @TechStudent11 . But for now, it isn't really needed as I've displayed PR's contributors have worked on.

[2022-03-08 15:58] KendallDoesCoding opened #242 "[FEATURE REQUEST] - Add christmas background image."
Like in the Ludsocials directory, add a christmas themed background image in the main directory, I think it will look great, but there are pros and cons to discuss.

Pros:
- Will make it look fancy and good.

Cons
- May have to change text colours
  -  (not really a concern but I like the colours how they are now)
  - (I'm planning to design the theme, most probably, if this is done, so I can figu

[2022-03-08 15:59] KendallDoesCoding commented on #242
@TechStudent11 @sc0rp10n-py @aliraza944 What do yall think on this?

[2022-03-08 16:03] KendallDoesCoding commented on #242
Theme Examples:
![image](https://user-images.githubusercontent.com/84712013/157276348-9d6aaf30-ce71-41da-87b6-f7140013a1c5.png)
![image](https://user-images.githubusercontent.com/84712013/157276370-04c23a47-6436-4622-9f74-f54b1e40c9ad.png)
![image](https://user-images.githubusercontent.com/84712013/157276453-cee655e2-9862-4e5a-9d8d-d61c5538d4dc.png)
![image](https://user-images.githubusercontent.c

[2022-03-08 22:46] TechStudent11 commented on #242
those look great. you could add a dark mode bg tho

[2022-03-09 09:47] KendallDoesCoding commented on #192
Ok, added talk: discussion, for now keeping this open, but it's most likely a no and we don't need to proceed on this, in that case.

[2022-03-09 09:48] KendallDoesCoding commented on #242
Yeah, again these are examples I've found from google, While working on making the theme myself, I can add a dark mode bg too.

[2022-03-10 08:14] KendallDoesCoding commented on #242
I touched up one of this design a little bit. Tell me if you like it @TechStudent11 @sc0rp10n-py
![Untitled design (1)-min](https://user-images.githubusercontent.com/84712013/157617421-35b1f08f-5371-487a-8cf8-a0bee42bce82.png)

[2022-03-10 09:13] KendallDoesCoding commented on #242
It doesn't look good on the page though

![image](https://user-images.githubusercontent.com/84712013/157629366-c5c8a1ba-252c-4fbb-8b22-9b4e75a6425c.png)

[2022-03-10 13:21] TechStudent11 commented on #242
So many images, my PC can barely hold up.

yeah that doesn't look right. you should make the container of all of them a different color.

[2022-03-10 13:55] KendallDoesCoding commented on #242
xD, what PC you got?

Yeah, will do.

[2022-03-10 22:34] TechStudent11 commented on #242
Acer Aspire 5 or 3.
Intel i3 10th generation
8GB RAM
256GB of SSD space

[2022-03-11 09:01] KendallDoesCoding commented on #242
Ok nice, but yeah it can't handle so many pictures xD

[2022-03-12 16:46] KendallDoesCoding opened #244 "[FEATURE REQUEST] Rate song button"
A button that if clicked opens a form where user can rate the song, how good it was.

[2022-03-12 17:39] #244 closed

[2022-03-13 05:50] KendallDoesCoding commented on #242
This looks much better, just need to remove the christmas tree's in the side and do a few edits:

![image](https://user-images.githubusercontent.com/84712013/158046954-cdff7e5a-1164-4741-b893-7a94f5333771.png)

[2022-03-13 05:53] KendallDoesCoding commented on #242
Deploy Preview: https://622d866ffe51c500082aedfe--mogulchristmas.netlify.app/

cc: @TechStudent11 @sc0rp10n-py

[2022-03-13 14:09] TechStudent11 commented on #242
damn that looks great

[2022-03-13 14:36] KendallDoesCoding commented on #242
indeed, just need some touch ups as mentioned.

[2022-03-15 14:07] divyakelaskar commented on #212
I would like to work on this one.

[2022-03-15 14:30] KendallDoesCoding commented on #212
Ok, assigning you.

[2022-03-15 15:59] #212 closed

[2022-03-23 17:05] KendallDoesCoding commented on #203
I know you've been super busy, but any update on this @sc0rp10n-py ?

[2022-03-23 17:14] #201 closed

[2022-03-25 06:43] KendallDoesCoding commented on #242
@TechStudent11 They got back to me with the designs, what do you think? I think they look great.
![Photo 25-3-22, 4 16 31 pm](https://user-images.githubusercontent.com/84712013/160068471-785aabe3-7a3a-4528-94af-e3c08bcf3d86.png)
![Photo 25-3-22, 4 16 17 pm](https://user-images.githubusercontent.com/84712013/160068476-d24aed4d-1e54-49b5-b8f4-0b40aee68cb4.png)

[2022-03-25 10:50] #242 closed

[2022-03-26 18:51] KendallDoesCoding opened #252 "[FEATURE REQUEST] - Add what Divya worked on"
Forgot to add what @divyakelaskar worked on in credits, only added the profile, needs to be added to https://mogulchristmas.kendalldoescoding.gq/credits/

[2022-03-27 07:59] KendallDoesCoding opened #254 "test socialify"

[2022-03-27 08:10] KendallDoesCoding commented on #254
Didn't work, reported to socialify team: https://github.com/wei/socialify/issues/123

Will keep this open tho incase it works within the next 1-2 hours

[2022-03-27 12:17] KendallDoesCoding commented on #254
well it takes a few hours ig, it worked now.

[2022-03-27 12:17] #254 closed

[2022-03-27 12:22] #252 closed

[2022-03-28 23:21] TechStudent11 opened #255 "[FEATURE REQUEST] - Center webpage"
With the huge amount of space that is left (at least on my end), I think that we should center the webpage (`index.html` to be exact).

[2022-03-29 05:23] KendallDoesCoding commented on #255
It is a good idea, sad it doesn't work but will try another way soon.

[2022-03-29 05:30] KendallDoesCoding commented on #255
@TechStudent11 Although, I don't really understand the issue, can you send a ss of the space being left at your end?

[2022-03-29 11:02] KendallDoesCoding opened #259 "[BUG] Background not displaying on phone/small screen size."
The background isn't displaying on phones or on a small screen size for some reason, for both lightmode and darkmode on the main page, entire lyrics directory, you may like page. idk what the issue is.

[2022-03-29 11:06] KendallDoesCoding commented on #259
This issue has only come in too place since we made a Christmas theme background, v16.5.0.

[2022-03-29 11:09] KendallDoesCoding commented on #259
@Kendall-Does-Coding-Websites/mogul-christmas can yall figure out what the issue with this is?

[2022-03-29 11:09] KendallDoesCoding commented on #259
@TechStudent11 Can you help figure out the issue on this?

[2022-03-29 11:12] samyberkane04 commented on #259
@TechStudent11
can i work on this issue please ?

[2022-03-29 11:20] samyberkane04 commented on #259
@TechStudent11
there is no background
![Capture d’écran de 2022-03-29 13-18-00](https://user-images.githubusercontent.com/101561292/160600351-887e6dbd-3f5d-450a-bf2d-ade5d05414b5.png)
 :

[2022-03-29 11:47] KendallDoesCoding commented on #259
yeah ofc.

[2022-03-29 11:47] KendallDoesCoding commented on #259
There is?

![image](https://user-images.githubusercontent.com/84712013/160604530-dd7676d9-2064-4f50-a25b-4b2f17d2a01b.png)
![image](https://user-images.githubusercontent.com/84712013/160604560-c1b05ce0-c472-4ef2-95b8-13eda0ed1816.png)

[2022-03-29 11:48] KendallDoesCoding commented on #259
@samyberkane04 There is an issue with your end with the background, can you record a screen share video opening, https://kendalldoescoding.gq/mogulchristmas so I can try to debug the issue, the background works fine for me on both localhost and on the website.

[2022-03-29 16:05] KendallDoesCoding commented on #259
@samyberkane04 Useful info: The background stops showing at dimensions: 621 x 666... It shows till then.

[2022-03-29 16:16] KendallDoesCoding opened #262 "[URGENT] Add dark mode element in a new class in HTML, separate from the songlist"
@aliraza944 need you to do this as soon as possible!

[2022-03-30 08:48] samyberkane04 commented on #259
@KendallDoesCoding

that's what I did :

![Capture d’écran de 2022-03-30 10-44-32](https://user-images.githubusercontent.com/101561292/160790523-898f12f6-3d66-40ae-a354-b10a29109746.png)

[2022-03-30 09:31] KendallDoesCoding commented on #259
Well, if it works for you then no issues, but for me it doesn't render properly on mobile/small screen size, idk why. I'll figure it out.

[2022-03-30 09:33] KendallDoesCoding commented on #259
@samyberkane04 The background works for 621 x 666, but stops working at 620 x 666.

[2022-03-30 09:38] samyberkane04 commented on #259
@KendallDoesCoding
I changed the code to get this result, when you change your window size(small screen size) the bakground don't stops working.

[2022-03-30 11:46] KendallDoesCoding commented on #259
Oh ok, please make a PR, if you need help feel free to ask :).

[2022-03-30 12:27] samyberkane04 commented on #259
@KendallDoesCoding

I did a PR

[2022-03-30 15:18] samyberkane04 commented on #259
@KendallDoesCoding

I did an other PR, I think I solved this issue.

[2022-03-30 15:49] KendallDoesCoding commented on #259
Thanks but the deploy preview aren't working for some reason, check my comments in #264!

[2022-03-31 17:28] KendallDoesCoding commented on #259
Thanks a lot @samyberkane04 for your help.

[2022-03-31 17:35] KendallDoesCoding commented on #259
@samyberkane04 The first button is 2 lines instead of one line, please fix.

[2022-03-31 17:35] KendallDoesCoding commented on #259
https://6245e49cb0b3d7000836b837--mogulchristmas.netlify.app/

[2022-03-31 17:38] KendallDoesCoding commented on #259
I've reverted the changes I merged, please fix this.

[2022-03-31 17:41] samyberkane04 commented on #259
@KendallDoesCoding

ok I will change it.

[2022-03-31 17:56] samyberkane04 commented on #259
@KendallDoesCoding

i did the changes.

[2022-04-01 09:58] KendallDoesCoding commented on #259
@samyberkane04 Reverting your changes as I believe it messed up a lot of stuff in the directories.

[2022-04-01 11:08] KendallDoesCoding commented on #259
Yeah but the lyrics direcotry is messed up, even lud socials.

[2022-04-01 11:09] KendallDoesCoding commented on #259
I added this a long time back, that's the issue:

[code]

[2022-04-01 11:09] #259 closed

[2022-04-01 15:35] KendallDoesCoding commented on #262
This will help me to fix #80 ... A thing that needs to be fixed asap.

[2022-04-01 15:57] KendallDoesCoding commented on #98
Can we use concepts thought in this video for this or will it not work @TechStudent11 ? https://www.youtube.com/watch?v=wodWDIdV9BY

[2022-04-01 21:19] TechStudent11 commented on #98
That is the exact same thing that I was doing 2 months ago. I don't know why it didn't work, though.

[2022-04-02 06:51] KendallDoesCoding commented on #98
Oh ok. That is a button this is a slider so maybe that's the reason.

[2022-04-02 06:51] #255 closed

[2022-04-05 12:09] KendallDoesCoding opened #275 "[FEATURE REQUEST] Add time left for song"
Add a small text box which displays the time left for the song to get over, only show the text box when a song is playing.

Can yall work on this @aliraza944 @TechStudent11 ?

cc: @samyberkane04 @divyakelaskar @Panquesito7 @sc0rp10n-py

[2022-04-05 16:27] KendallDoesCoding commented on #192
This is kinda done in the credits directory, I can add the lines "Thanks to all our project contributors, your work and help is really appreciated."

[2022-04-05 16:27] #192 closed

[2022-04-05 20:08] TechStudent11 commented on #275
I wanna say this should be easy, but I honestly don't know.

I don't think it's possible (with my limited knowledge of the YouTube Embed API) to find out the time remaining in a video. I think YouTube would expect you to keep the embed visible for that IMO.

[2022-04-06 03:21] KendallDoesCoding commented on #275
yeah fair enough lol, but I'll keep this issue open just in case.

[2022-04-08 15:43] KendallDoesCoding opened #276 "[FEATURE REUQEST] Play random song button in main directory"
Like in the You May Like directory, add the play random song button in the main website/directory, but this time to play song in the browser.

@TechStudent11 Can you work on this in your free time?

[2022-04-08 15:45] KendallDoesCoding commented on #80
Can you work on this @Panquesito7 ?

[2022-04-12 14:22] KendallDoesCoding commented on #125
I just added the icons to the top of the webpage and removed the button a long time ago, but forgot to close this issue lol.

[2022-04-12 14:22] #125 closed

[2022-04-12 15:16] KendallDoesCoding commented on #276
Waiting for your reply on this @TechStudent11 !!

[2022-04-12 15:30] TechStudent11 commented on #276
Once again, you're going to have to build the UI for this, before I can write any code for it.

[2022-04-12 15:33] KendallDoesCoding commented on #276
Ok cool! I'll get to work on the HTML and CSS for the button shortly!... Thanks.

[2022-04-12 16:01] KendallDoesCoding commented on #276
Done.

@TechStudent11 Please check-out the work branch for this [here](https://github.com/KendallDoesCoding/mogul-christmas/tree/276-feature-reuqest-play-random-song-button-in-main-directory).

[2022-04-13 14:52] KendallDoesCoding commented on #276
So basically, just to confirm again, I don't want it to open a new tab and play a song for this directory, I want it to play within the website if the button is clicked via the songs which we consted... Is this possible @TechStudent11 ?

[2022-04-13 14:53] KendallDoesCoding commented on #80
Waiting for your reply!

[2022-04-13 15:01] TechStudent11 commented on #276
oh okay. sure

[2022-04-13 15:04] KendallDoesCoding commented on #276
thanks! please work on it and make a PR when you're free :)

On Wed, 13 Apr 2022 at 20:31, TechStudent10 ***@***.***>
wrote:

[2022-04-14 10:40] KendallDoesCoding commented on #201
I didn't do this in the random-song.js file, but I prefer to keep that a long url anyways.

[2022-04-18 18:01] KendallDoesCoding opened #288 "[FEATURE REQUEST] - Multiple pages in You May Like directory."
Right now, there are 20 entries, of songs/videos in the You May Like directory, I would like if there were 2 pages with 10 entries each cause otherwise it looks very clogged on one page if you get what I mean, so there can be like a button that if the user taps it goes to the next page? This can be done with JS, I believe.

Can you please work on this @TechStudent11?... I need to get this done ver

[2022-04-18 18:06] KendallDoesCoding commented on #288
Do I have to code the HTML part of this as well, and you'll code the JS @TechStudent11, or can this be coded with only Javascript?

[2022-04-18 18:29] TechStudent11 commented on #288
I have no idea how to do this, sorry.

[2022-04-18 18:49] KendallDoesCoding commented on #288
No worries!

Maybe you could use some of this logic for the pages though, if it will work? https://stackoverflow.com/questions/42416214/how-do-i-change-multiple-elements-with-same-class-name-using-javascript

[2022-04-18 19:05] TechStudent11 commented on #288
Maybe... maybe you should learn how to use JavaScript. It's easy and simple, and it would help a lot.

Anyways back on topic, maybe I could use some of that logic. It might work, but it also might not.

[2022-04-19 06:04] KendallDoesCoding commented on #288
Yeah, I should, I've just been postponing it and when I've tried to learn it, I've found it pretty hard.

Ok

[2022-04-20 07:52] KendallDoesCoding commented on #288
@TechStudent11 Please refer to:

Pagination in Javascript - https://www.youtube.com/watch?v=IqYiVHrO2U8
Repo - https://github.com/TylerPottsDev/vanillajs-pagination

[2022-04-20 07:54] KendallDoesCoding commented on #288
The thing is that in this case, I need this + hyperlinks to work

[2022-04-20 08:04] KendallDoesCoding commented on #288
@TechStudent11 I can get the main stuff working, I just need help with linking hyperlinks to the consted items.... Can you help with this?

[2022-04-20 08:18] KendallDoesCoding commented on #288
Done, I've added the pagination, all I need done now is as follows:

- hyperlink the youtube url for the songs
- open hyperlink of youtube url of the songs in a new tab

Hope you can do the above @TechStudent11

[2022-04-20 08:18] KendallDoesCoding commented on #288
Deploy Preview: https://pagination--mogulchristmas.netlify.app/you-may-like/

[2022-04-22 06:02] KendallDoesCoding commented on #288
Awaiting your reply @TechStudent11

[2022-04-22 21:27] TechStudent11 commented on #288
That's impressive. What do you need me to do? I'm sure you can do it yourself. You can Google how to do things, not coming to me or someone else on GitHub.

[2022-04-23 05:42] KendallDoesCoding commented on #288
I've searched so many times but can't find anything on Google, ig people don't do stuff like this project.

I need done now is as follows:

- hyperlink the youtube url for the songs
- open hyperlink of youtube url of the songs in a new tab

Also, if possible I would like if the videos can be purple colour instead of red.

If you find tutorials and if you can link anything, I can try doing it mysel

[2022-04-23 16:48] TechStudent11 commented on #288
I'll see what I can do.

[2022-04-23 17:09] KendallDoesCoding commented on #288
Thanks a lot! I need it done as soon as possible.

[2022-04-24 16:10] KendallDoesCoding commented on #288
Do you think what I need done is possible tho @TechStudent11 ?

[2022-04-24 20:00] TechStudent11 commented on #288
Yeah, ofc

[2022-04-25 12:54] KendallDoesCoding commented on #288
Ok cool, but ig it's hard to get setup?

[2022-04-26 17:37] KendallDoesCoding commented on #288
@TechStudent11 Can you get this done by this week, preferably by tomorrow or day-after? I need this done urgently... Thanks

[2022-04-26 17:53] KendallDoesCoding commented on #288
This might help but I can't understand it:

https://stackoverflow.com/questions/70890297/add-href-to-const-value

[2022-04-26 20:23] TechStudent11 commented on #288
Working 👍🏾

[2022-04-27 05:26] KendallDoesCoding commented on #288
Thanks a lot 😃 !

I'll just do a few tweaks and merge into main in a bit.

[2022-04-27 06:34] KendallDoesCoding commented on #288
Done in release [17.4.0](https://github.com/KendallDoesCoding/mogul-christmas/releases/tag/17.4.0)

[2022-04-27 06:34] #288 closed

[2022-05-04 10:31] KendallDoesCoding commented on #276
@TechStudent11 My laptop's gone for repair, so I can't do any coding, but for this, I've made the UI part in HTML, CSS, please work on the JS at the earliest, in branch - [276-feature-reuqest-play-random-song-button-in-main-directory](https://github.com/KendallDoesCoding/mogul-christmas/tree/276-feature-reuqest-play-random-song-button-in-main-directory)... If possible, I need this done by 6th - 10

[2022-05-14 06:25] KendallDoesCoding commented on #276
Any update on this @TechStudent11?

[2022-05-14 06:25] KendallDoesCoding commented on #262
Any update on this @aliraza944 ?

[2022-05-14 06:26] KendallDoesCoding commented on #103
Any update on this @aliraza944 ?

Can you work on this @TechStudent11 ?

[2022-05-14 17:20] TechStudent11 commented on #276
hehe sorry. Been busy this week. I probably won't have any time to work on the repo

[2022-05-14 17:42] KendallDoesCoding commented on #276
Oh ok, no worries!

for this week or forever?

[2022-05-18 20:36] frazie commented on #80
Has the site been made responsive as requested??

[2022-05-19 04:27] KendallDoesCoding commented on #80
@frazie

[2022-05-19 16:43] KendallDoesCoding commented on #80
@frazie Would you be able to help with this.

Other then this, the site is VERY responsive as per this.

![Uploading image.png…]()

[2022-05-19 16:48] KendallDoesCoding opened #293 "Improve On-Page SEO and Performance"
As per https://www.seoptimer.com/ following are the issues with On-Page SEO and Performance, I need it to be sorted asap

**- COMPLETED IN BOLD**
**-MARKED AS DONE OR NOT POSSIBLE**
## On- Page SEO
- **Include a meta description tag - High Priority (DONE)**
    - I tried doing this in 0f43a96 but it didn't work for some reason.
    -  It turns out that there are many meta tags that need to be adde

[2022-05-21 05:08] KendallDoesCoding commented on #276
Please let me know @TechStudent11

[2022-05-21 14:59] TechStudent11 commented on #276
A while

[2022-05-21 17:36] KendallDoesCoding commented on #276
Ok cool, let me know when you can start work again!

[2022-05-21 18:19] frazie commented on #80
@KendallDoesCoding I would love too

I'll also work on some of the SEO recommendations for the page in one of the issues

[2022-05-21 18:28] KendallDoesCoding commented on #80
Thanks for your confirmation, will assign you

Please put a message in #293 so I can assign you, otherwise I can't assign you there, as your not a project collab :)

[2022-05-22 15:35] KendallDoesCoding commented on #80
@frazie If possible, please try to finish this by June.

[2022-05-22 15:39] frazie commented on #293
i'll gladly assist with this

[2022-05-22 15:41] KendallDoesCoding commented on #293
Thanks a lot! Will assign you

[2022-05-23 05:32] KendallDoesCoding commented on #293
Left to be done:

## On Page SEO
- Make greater use of header tags - Medium Priority

## Performance
Low Priority

- Remove inline styles
- Resolve JavaScript errors
- Add Schema Markup

[2022-05-23 05:32] KendallDoesCoding commented on #293
As only 4 things are remaining to be done, I'm changing the deadline to be by June, if possible, instead of July.

[2022-05-23 05:44] KendallDoesCoding commented on #98
I aim for this to be done by July 2023, but, as @TechStudent11 said, I'm sure not sure if #189 needs to be done before this for this to work.

[2022-05-23 05:46] KendallDoesCoding commented on #187
I aim for this to be done by July 2022, but, as @TechStudent11 said, I'm sure not sure if https://github.com/KendallDoesCoding/mogul-christmas/issues/189 needs to be done before this for this to work.

[2022-05-26 18:01] github-actions[bot] opened #294 "Delete Google Tag Manager"
https://github.com/KendallDoesCoding/mogul-christmas/blob/0495d0c5946465de5e06a0327eaaa170fe600b71/index.html#L36

[code]

[2022-05-26 18:03] #294 closed

[2022-06-10 04:05] aliraza944 commented on #262
I am looking at the issue today and hopefully get it done.

[2022-06-10 05:29] KendallDoesCoding commented on #262
Ok cool, thanks a lot!

[2022-06-11 06:43] KendallDoesCoding commented on #187
@TechStudent11 Is this possible in a .mp3 version/offline version... I'm getting to work on that soon.

Example: http://music-in-browser.test.kendalldoescoding.gq/

[2022-06-11 09:27] KendallDoesCoding commented on #80
Hey @frazie ... Just checking in, any update on this?

[2022-06-11 09:27] KendallDoesCoding commented on #106
@JeffBucherDev I believe your good at CSS, would you be able to get this done.

[2022-06-14 19:21] frazie commented on #80
hello @KendallDoesCoding sorry I was held up with some work through the better part of last month..I'll have the changes made and submitted by the end of this week if its not too late

[2022-06-15 09:11] KendallDoesCoding commented on #80
Hi Frazier, no need to be sorry,as just checking to see if you've made any
progress, but I understand that you're busy. Yeah, that works, thanks a ton!

On Wed, 15 Jun 2022 at 00:51, Frazier Odhiambo ***@***.***>
wrote:

[2022-06-15 09:27] #80 closed

[2022-06-16 05:19] KendallDoesCoding commented on #80
Yeah lol, it still hasn't been completed fully, but it's done mostly.

[2022-07-02 23:56] Weave-Trix commented on #276
Hi I'm interested in working on this feature

[2022-07-02 23:58] Weave-Trix commented on #276
Can i submit a pull request once I'm done?

[2022-07-03 00:02] Weave-Trix commented on #275
Can i attempt on implementing this feature?

[2022-07-03 06:39] KendallDoesCoding commented on #276
Hi, will assign you.

[2022-07-03 06:39] KendallDoesCoding commented on #276
Yes

[2022-07-03 06:40] KendallDoesCoding commented on #275
Sure, assigning you.

[2022-07-04 04:15] Weave-Trix commented on #276
Just submitted my pull request, do let me know of any issues. Happy Coding : )

[2022-07-04 12:36] #276 closed

[2022-08-04 08:28] Marcus3000 opened #298 "[FEATURE REQUEST] -"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Why do you think we should add this feature? How will it be useful for the project?**
Please write a description on how you think this woul

[2022-08-04 08:35] KendallDoesCoding commented on #298
@Marcus3000 - Hi, please elaborate the issue further

[2022-08-04 16:24] KendallDoesCoding opened #299 "[DOCS] Write comments"
Try to understand what the code does and write a comment on how it works in HTML, CSS, JS files throughout this project.

[2022-08-04 17:16] fk00750 commented on #299
Hey can you assign me this issue ✌🏻 ?

[2022-08-04 17:54] KendallDoesCoding commented on #299
Sure. You can work on this. Will assign you when I'm on my laptop

On Thu, 4 Aug 2022, 10:46 pm fk00750, ***@***.***> wrote:

[2022-08-04 19:34] fk00750 commented on #299
Started on the issue

[2022-08-09 15:51] fk00750 commented on #103
Hey @KendallDoesCoding can i work on this issue?

[2022-08-09 15:58] fk00750 commented on #103
Thanks @KendallDoesCoding and I hope I will close this one 😂

[2022-08-13 08:09] #103 closed

[2022-08-14 09:31] #298 closed

[2022-08-20 16:37] KendallDoesCoding commented on #299
@fk00750 - you can work on this issue alongside @MohsinMalik2 if they are interested!

[2022-08-20 16:37] KendallDoesCoding commented on #293
@frazie any update?

[2022-08-20 16:37] KendallDoesCoding commented on #203
@sc0rp10n-py Hey, can you make some time to work on this, please.

[2022-08-20 16:39] KendallDoesCoding commented on #189
@TechStudent10 @aliraza944 @sc0rp10n-py - there seems to be no update on this and it will take a long time to get done, so I think we should forget about this.

Should I close this issue as "won't fix"?

[2022-08-20 16:40] KendallDoesCoding commented on #98
I'll try to figure out why the video didn't work for this.

[2022-08-20 16:40] KendallDoesCoding commented on #105
@TechStudent10 Please let me know at the earliest.

[2022-08-20 16:41] KendallDoesCoding commented on #106
@JeffBucherDev Please let me know.

[2022-08-20 16:46] KendallDoesCoding commented on #275
@Weave-Trix any update?

[2022-08-20 17:48] TechStudent10 commented on #189
That sounds reasonable.

[2022-08-20 17:48] #189 closed

[2022-08-20 17:52] TechStudent10 commented on #105
Kinda forgot about this project tbh lol. I can't rn because most of my projects are on a faulty drive :/

[2022-08-20 17:52] KendallDoesCoding commented on #189
👍

[2022-08-20 17:54] KendallDoesCoding commented on #105
Lol, yeah it's been a while since I myself have worked on this... Oof, No worries, please let me know when you can work on it!!

[2022-08-20 17:57] KendallDoesCoding commented on #293
I think we've done enough to improve SEO, the SEO score from C- is now B, right now the recommendations are mostly not feasible for this project, so closing as completed for now.

[2022-08-20 17:57] #293 closed

[2022-08-20 18:08] #138 closed

[2022-08-20 18:09] KendallDoesCoding commented on #138
I literally tried doing exactly this a while ago, but it didn't work but it works now.. It's fixed now in 4342ead5d86ba49959e79aa13a15c42b0ecf277a

[2022-08-20 18:20] KendallDoesCoding commented on #215
Oh, I'm so dumbb, there is a css term for padding of socials which is used somewhere else in the website, so i should make the class lud-socials to fix the issue, can't believe how stupid I was for this LOL

[2022-08-20 18:22] #215 closed

[2022-08-20 18:23] #262 closed

[2022-08-20 18:28] KendallDoesCoding opened #301 "[DOCS] Improve README.md"
Improve README.md by:

- Adding screenshots of the project website
- Fixing grammar issues
- Formatting properly

[2022-08-20 18:33] KendallDoesCoding opened #302 "Convert all pics in the Photo Gallery to .jpg"
Right now, there are photos of various formats in the photo gallery, .webp, .jpg & .jpg, I would prefer if there are all .jpg.

Please convert the .webp and .png files to .jpg and add the newly converted photos here: https://github.com/KendallDoesCoding/mogul-christmas/tree/main/images/photo-gallery-imgs.

Then, edit the HTML and update the extension of the photos here: https://github.com/KendallD

[2022-08-20 18:36] KendallDoesCoding opened #303 "Gh-action to automatically convert images to .jpg and update extension in HTML"
As stated in #302 , I would prefer all photos to be in the .jpg format, but I can't help it when I download images from the internet/can't convert the images EVERY single time nor can anyone do it for that matter, so would prefer a gh-action who can automatically convert the images in to .jpg and where the HTML of the img src is stated, update the extension there, if possible.

@TechStudent10 @Pan

[2022-08-21 13:06] eduarecnam commented on #303
Hi Kendall, I'll take care of this task if you don't mind. Thanks!

[2022-08-21 13:20] KendallDoesCoding commented on #303
Hi @eduarecnam , I'm not assinging anyone for this, as it's not a issue as of such, I only need help to find a gh-action, so if you find one please let me know.

On the other hand, if you can help make a gh-action to do so, then I'll assign you, but if your sharing a already existing gh-action, please do so here.

[2022-08-23 18:43] Arhya001 commented on #302
Hi @KendallDoesCoding ! Will work on this please assign me this :).

[2022-08-23 18:49] ArhyaSaha commented on #302
Hi @KendallDoesCoding ! I am working on this issue. Can you assign me this?

[2022-08-23 18:54] ArhyaSaha commented on #302
Do i need to remove the .png and .webp files from the folder?

[2022-08-23 21:04] ArhyaSaha commented on #187
Hi @KendallDoesCoding i think there should also be a pause button.

[2022-08-24 08:02] KendallDoesCoding commented on #302
Preferably after converted and updated the HTML, but not necessary, but I would prfer if you would.

[2022-08-24 09:45] ArhyaSaha commented on #302
@KendallDoesCoding I already made a PR.

[2022-08-24 09:46] ArhyaSaha commented on #302
Let me know if any changes are required.

[2022-08-24 16:00] nettle790 commented on #302
Hello is it ok to convert the images to JPEG ?? I have converted  all the images to jpeg.thats all I could do  since I am a beginner.

[2022-08-24 16:01] nettle790 commented on #302
It looks  to me that your index file is not in the right location.

[2022-08-24 17:15] KendallDoesCoding commented on #302
Hi @nettle790 , actually, @ArhyaSaha asked to be assigned to this and has already made a PR (#304).. In future, please ask to be assigned by commenting on the issue, before starting the work :). Unfortunately, I will have to go ahead with @ArhyaSaha 's PR but feel free to check out the other issues and see if you can help with them (just put a comment asking to be assigned, and will get back to yo

[2022-08-24 17:16] KendallDoesCoding commented on #302
Please [create a issue](https://github.com/KendallDoesCoding/mogul-christmas/issues/new/choose) and give a brief on what the issue is, where is the right location for the index file, etc and will have a look at it.

If you need any help, please let me know.

[2022-08-24 17:17] #302 closed

[2022-08-24 17:25] nettle790 commented on #302
Are you able to view those images after the fix?

[2022-08-24 18:24] KendallDoesCoding commented on #203
@thng17 Heyy, you helped really majorly with the design for my other project - Tap For A Surprise [https://github.com/KendallDoesCoding/tap-for-a-surprise/pull/8](https://github.com/KendallDoesCoding/tap-for-a-surprise/pull/8) can you do it for this project as well?

I require the design to be as per the description of the issue created by @sc0rp10n-py.

[2022-08-24 18:38] KendallDoesCoding opened #310 "Improve design of "Rate Song" page"
As part of the UI Update (#203), improve design of the rate song form, it looks very basic, and I would rate the page 0.5/10 🤣 .

[2022-08-24 18:39] KendallDoesCoding commented on #299
@fk00750 any update on this?

[2022-08-24 18:42] KendallDoesCoding commented on #187
Hi @ArhyaSaha , This would be better if it is part of #105 instead of on this issue, this issue is solely for the purpose of a button to loop the song.

[2022-08-24 18:51] KendallDoesCoding opened #311 "[YOUTUBE API] Standard volume for songs played using the website"
Currently, the sound of the video/embed depends on the LAST watched YouTube video volume, however, that could've been on mute, then as mentioned in the README.md, the site will not be able to play the music - "Please ensure that the last YouTube video you watched wasn't on mute, otherwise the songs will not play, and the autoplay for the lyrics' directory will automatically be set on mute too."

S

[2022-08-24 20:22] TechStudent10 commented on #311
This seems simple. Why not do it yourself?

[2022-08-25 04:14] KendallDoesCoding commented on #311
I'm not a pro at JS and will surely mess it up 🤣 . Plus, I put the EddieHub-good-first-issue label so somebody good at JS and new to open-source can contribute and learn open-source!!

[2022-08-25 09:33] wyenelle commented on #310
assign me

[2022-08-25 16:24] lazyturd commented on #301
Hey, can i be assigned to this? i would like to solve it

[2022-08-25 16:48] TechStudent10 commented on #311
Then learn. Also I'm definitely not saying this because I'm lazy, no, no, no.

[2022-08-25 17:02] KendallDoesCoding commented on #310
Please make a discussion here: https://github.com/KendallDoesCoding/mogul-christmas/discussions

Also, don't share your personal whatsapp number just like that :)

[2022-08-25 17:04] KendallDoesCoding commented on #301
Sure!

[2022-08-25 17:05] KendallDoesCoding commented on #311
ok.

[2022-08-26 16:06] KendallDoesCoding opened #314 "[MAJOR BUG] Only 5 urls out of the 21 consted are working for the You May Like directory, and the other 16 songs are not taking to the proper url."
Only 5 urls in the order of the first page got consted and only those 5 songs are playing no matter which button you tap on which page.

Issue starts from the 2-5th page.

PLEASE FIX AT THE EARLIEST @TechStudent10 AS THIS IS A MAJOR BUG

[2022-08-27 19:03] #301 closed

[2022-08-27 19:05] KendallDoesCoding commented on #314
@TechStudent10 please let me know asap

[2022-08-27 19:07] TechStudent10 commented on #314
The code base has changed so much I'm not sure if I'll be able to identify the source of the bug.

[2022-08-27 19:11] TechStudent10 commented on #314
Okay I've identified the bug, but I can't fix it rn. Maybe later.

For anyone wondering, inside of `you-may-like/index.js`, we have this:
[code]

This is what displays the list. The issue is that instead of adding the page number to `i` when we search for the links, it always goes from the first index. In layman's terms: we are updating the contents of the list, but not the links themselves. If so

[2022-08-29 17:10] KendallDoesCoding commented on #310
done in [f6ebc4f](https://github.com/KendallDoesCoding/mogul-christmas/commit/f6ebc4f9f320e1f42750852c77a357557f6951cd)

[2022-08-29 17:10] #310 closed

[2022-08-29 21:00] eduarecnam commented on #303
Hi @KendallDoesCoding  I found these two resources quite useful:

1. https://github.com/marketplace/actions/find-and-replace
2. https://github.com/marketplace/actions/imagemagick-action

I've been trying to make it work on my copy's repo, but I think I don't end up of understanding how exactly Github actions works. But trying this on my laptop to change the extension from png to jpg does work:
`mo

[2022-08-30 08:12] KendallDoesCoding commented on #303
Hi, this does help a lot.. Thanks.

Can you make a PR though?

[2022-08-30 09:19] eduarecnam commented on #303
Done! :)

[2022-09-03 19:11] mati5kova commented on #98
Assign me, I can get it working in an hour.

[2022-09-04 07:54] sharmavivek223 commented on #314
Let me know if it's available to work on. @KendallDoesCoding

[2022-09-04 13:04] KendallDoesCoding commented on #314
It is, indeed!

On Sun, 4 Sept 2022 at 13:25, Vivek Sharma ***@***.***> wrote:

[2022-09-04 17:18] #314 closed

[2022-09-13 21:22] KlausMikhaelson commented on #311
Hey @KendallDoesCoding I have worked with the youtube api a lot so ig I will be able to do it with ease can you assign this to me ?

[2022-09-14 08:17] KendallDoesCoding commented on #311
Sure!

On Wed, 14 Sep 2022, 2:52 am KlausMikhaelson, ***@***.***>
wrote:

[2022-09-17 15:14] KendallDoesCoding commented on #299
@fk00750 Please let me know as soon as possible or will have to assign someone else.

[2022-09-17 15:19] KendallDoesCoding commented on #275
@Weave-Trix please let me know or will have to assign someone else.

[2022-09-21 09:31] KendallDoesCoding commented on #303
Done in #318,
forgot to close this issue.

[2022-09-21 09:31] #303 closed

[2022-09-21 09:31] KendallDoesCoding commented on #187
@ArhyaSaha any update?
@CipherKill as you helped with the stop button, would you be able to help with the loop button as well?

[2022-09-21 09:32] KendallDoesCoding commented on #311
@KlausMikhaelson any update?

[2022-09-21 09:33] KendallDoesCoding commented on #299
@fk00750 unassigning you as I haven't heard from you from the last 1 month, and you haven't replied to my comments asking if they is any update.

[2022-09-21 09:33] KendallDoesCoding commented on #275
@Weave-Trix unassigning you as I haven't heard from you from the last 1 month, and you haven't replied to my comments asking if they is any update.

[2022-09-21 09:34] KendallDoesCoding commented on #105
@CipherKill any idea how this can be done?

[2022-09-21 10:23] KlausMikhaelson commented on #311
Sorry I forgot to see that this one is assigned to me, currently working on another issue of making the site responsive so will move on to this as soon as I am done, last to last will probably completely it till tomorrow

[2022-09-21 10:36] KendallDoesCoding commented on #311
Sure! Let me know if you need any help.

[2022-09-22 16:03] CipherKill commented on #187
To recap, you need a loop button that would play the played/playing song from the beginning ?

[2022-09-22 16:51] KendallDoesCoding commented on #187
Yes!!

On Thu, 22 Sept 2022 at 21:33, Alan Raju ***@***.***> wrote:

[2022-09-22 16:56] CipherKill commented on #187
It's possible, but using "loop=1" on the URL isn't the way to go. I'll test out an idea I have and let you know here.

[2022-09-22 16:58] KendallDoesCoding commented on #187
Yes, I know.. Ok, thanks! If it works out, please make a PR.

On Thu, 22 Sept 2022 at 22:26, Alan Raju ***@***.***> wrote:

[2022-09-22 17:01] CipherKill commented on #187
Sure!

[2022-09-23 09:45] CipherKill commented on #187
Hey! Good news, got it to work. Making a PR now.

[2022-09-23 10:43] KendallDoesCoding commented on #187
Thanks!

On Fri, 23 Sept 2022 at 15:15, Alan Raju ***@***.***> wrote:

[2022-09-24 09:31] #187 closed

[2022-09-24 09:34] KendallDoesCoding commented on #299
Looking to reassign this issue to someone else.

[2022-09-26 08:31] neutr0n420 commented on #299
Hey there I am willing to work on this issue can you please assign this issue to me?

[2022-09-26 08:47] KendallDoesCoding commented on #299
Sure!

[2022-10-01 03:35] hemantwasthere commented on #275
Hey @KendallDoesCoding, I would like to work on this issue. Please assign it to me

[2022-10-01 04:20] KendallDoesCoding commented on #275
Sure!

[2022-10-02 12:11] nik132-eng commented on #275
if this issue is remain to solve i want to take up can @aliraza944 you please assign me for hacktoberfest? Thank you

[2022-10-02 13:31] KendallDoesCoding commented on #275
@nik132-eng , I thought I assigned @hemantwasthere to this, both of y'all can work on this if he's fine with it!

[2022-10-02 16:18] hemantwasthere commented on #275
Yeah, i am fine with it

[2022-10-02 16:20] KendallDoesCoding commented on #275
Ok cool, either one of y'all can work on it (@hemantwasthere , @nik132-eng) or both of y'all together.

[2022-10-03 06:51] Vedant-Manjrekar commented on #106
Hey @KendallDoesCoding is this issue resolved ?
The instructions above are little unclear, if you can screenshot and point out what kind of changes you need I'll be more than happy to help.

[2022-10-03 07:17] KendallDoesCoding commented on #106
Hey @Vedant-Manjrekar , no it hasn't been resolved.

I basically want to list some of the buttons in the top left of the website, and if the user is on mobile, have a hamburger menu to list all the buttons within that, if possible.

This is just a idea that I thought long ago, but I'm not too sure about it now, because idk how exactly it will look.

Thanks,
KendallDoesCoding

[2022-10-03 07:28] Vedant-Manjrekar commented on #106
I think a navbar is what you are looking for, and i can do it, just assign me for it.
Also which buttons do you want on top left of the website?

[2022-10-03 07:34] KendallDoesCoding commented on #106
Yup, I couldn't get the word for it.

Lyrics/Individual Song Page
You May Like

[2022-10-03 10:14] Vedant-Manjrekar commented on #106
@KendallDoesCoding How's this:
<img width="966" alt="Screenshot 2022-10-03 at 3 34 17 PM" src="https://user-images.githubusercontent.com/93585735/193553355-347207b0-6a9c-49c0-8e18-28e0ed16a19c.png">
<img width="966" alt="Screenshot 2022-10-03 at 3 34 29 PM" src="https://user-images.githubusercontent.com/93585735/193553583-a14a5763-30e0-4f19-930b-736f4e35dff6.png">
<img width="966" alt="Screenshot

[2022-10-03 10:29] KendallDoesCoding commented on #106
Looks great, but I want the background colors of the buttons (like they are currently on the navbar as well) and if possible the same background color for the menu on mobile.

[2022-10-03 11:54] Vedant-Manjrekar commented on #106
Check this out:

<img width="966" alt="Screenshot 2022-10-03 at 5 19 44 PM" src="https://user-images.githubusercontent.com/93585735/193570226-3c9183bb-2004-447a-a94b-f60c4a122527.png">

<img width="966" alt="Screenshot 2022-10-03 at 5 19 13 PM" src="https://user-images.githubusercontent.com/93585735/193570423-c89dc96e-be5c-4296-8160-e9cb1ff47e2f.png">
PM.png…]()

I kept "you may also like" in menu

[2022-10-03 12:01] KendallDoesCoding commented on #106
Looks better! Although still some things gotta be adjusted, but make a PR, I will adjust them and merge.

[2022-10-03 12:02] KendallDoesCoding commented on #106
btw, I only want the menu for mobile screens, for laptop and big screens it can be as is, with the two buttons in the left.

[2022-10-03 12:23] Vedant-Manjrekar commented on #106
Yup I can take care of it, so is that it, should I make PR then?

[2022-10-03 12:50] KendallDoesCoding commented on #106
Mostly done. Make the PR. Just a few edits, but I dont wanna tell them now
till I see how it actually looks in the browser. So make the Pr and will
comment according. I too can do some changes if required. Basic css, only.

On Mon, 3 Oct 2022, 5:53 pm Vedant Manjrekar, ***@***.***>
wrote:

[2022-10-03 12:52] Vedant-Manjrekar commented on #106
But how will the desktop users access photo gallery and lugwig socials etc?

[2022-10-03 13:16] KendallDoesCoding commented on #106
I said that too, right? Let the buttons be as is for desktop users. For
desktop only need those 2 buttons in the left.

For mobile, need the

On Mon, 3 Oct 2022, 6:22 pm Vedant Manjrekar, ***@***.***>
wrote:

[2022-10-03 14:35] Vedant-Manjrekar commented on #106
@KendallDoesCoding can you label this issue hacktoberfest?

[2022-10-03 15:21] KendallDoesCoding commented on #106
What does that exactly do? Will it show up in a directory,website?

[2022-10-08 06:29] sharmavivek223 commented on #105
hey @KendallDoesCoding I wanna participate in the hacktoberfest, can you make changes to PRs and add tags to whitelist this repo for contributions?

[2022-10-08 06:31] sharmavivek223 commented on #105
For reference

https://hacktoberfest.com/participation/

[2022-10-08 06:31] KendallDoesCoding commented on #105
Hi, I'm sorry, I can't do that.. Please create a issue and if I accept it, can work on a PR for it. I don't want spam contributions/things I do not want in the website.

I can make the repo topic hacktoberfest though.

Will this work?

[2022-10-08 07:45] sharmavivek223 commented on #105
its one and the same thing i guess.

[2022-10-08 08:06] KendallDoesCoding commented on #105
Ok, so I should just add a topic "hacktoberfest" right?

[2022-10-08 09:17] sharmavivek223 commented on #105
yes

[2022-10-09 13:24] KendallDoesCoding commented on #105
@sharmavivek223 Done, in future, please do not merge a query with a issue, you should create a discussion :)

[2022-10-11 07:06] KendallDoesCoding commented on #259
thanks

On Thu, 31 Mar 2022 at 21:46, samyberkane04 ***@***.***>
wrote:

[2022-10-11 07:07] KendallDoesCoding commented on #187
Hi Arhya,

That can be a part of #105 as it relates to volume.

On Wed, 24 Aug 2022, 2:34 am ArhyaSaha, ***@***.***> wrote:

[2022-10-11 08:28] KendallDoesCoding commented on #105
ok, will do in a bit.

*Thanks,*
*Kendall Does Coding*

*Portfolio
<https://sgnldrp.live/click?redirect=https%3A%2F%2Fkendalldoescoding.gq&dID=1665221803282&linkName=Portfolio>*
*Github
<https://sgnldrp.live/click?redirect=https%3A%2F%2Fgithub.com%2FKendallDoesCoding&dID=1665221803282&linkName=Github>*
*Youtube*
<https://sgnldrp.live/click?redirect=https%3A%2F%2Fkendalldoescoding.gq%2FcodingYT&dID

[2022-10-11 08:57] KendallDoesCoding commented on #106
Does it help in any way?

On Mon, 3 Oct 2022, 8:06 pm Vedant Manjrekar, ***@***.***>
wrote:

[2022-10-11 11:13] KendallDoesCoding commented on #275
@nik132-eng @hemantwasthere - Awaiting a update on this.

[2022-10-11 11:15] KendallDoesCoding commented on #105
@sharmavivek223 Can you work on this?

[2022-10-11 11:22] KendallDoesCoding commented on #299
@neutr0n420 Awaiting update.

[2022-10-11 11:29] Vedant-Manjrekar commented on #106
Yes, it will make my PR eligible for hacktober fest.

[2022-10-11 15:20] #106 closed

[2022-10-11 15:30] KendallDoesCoding commented on #105
I guess this is unnecessary.. If the user wants to make the volume softer, they can just use their device.

[2022-10-11 15:31] KendallDoesCoding commented on #98
Sorry. Missed your comment. Assigning you now.

[2022-10-11 21:56] nik132-eng commented on #275
sorry for being late. There is my college exams going on so i will do it in shortly

[2022-10-12 04:35] KendallDoesCoding commented on #275
Sure. Take your time.

On Wed, 12 Oct 2022, 3:26 am nik..., ***@***.***> wrote:

[2022-10-14 06:27] KlausMikhaelson commented on #311
Hey sorry again I just came back home after a month of hectic travelling I am working on it right now and create the pr in few hrs

[2022-10-14 08:17] KendallDoesCoding commented on #311
Yeah bro, sure. I understand!

On Fri, 14 Oct 2022, 11:57 am Satyam, ***@***.***> wrote:

[2022-10-14 13:32] KlausMikhaelson commented on #311
I figured out how to do that when we have that big script of embeded api but still figuring out how I can implement it in the iframe

[2022-10-14 13:43] KendallDoesCoding commented on #311
Good to hear!

On Fri, 14 Oct 2022 at 19:02, Satyam ***@***.***> wrote:

[2022-10-14 13:47] KlausMikhaelson commented on #299
Hey @KendallDoesCoding if no-one's working on it than would like to do that since I was just going through the entire code the whole day so I know what's the use of every function in there

[2022-10-14 14:11] neutr0n420 commented on #299
Hey @KendallDoesCoding sorry busy with some other work and can't work on the project sorry for the inconvenience you can assign it to @KlausMikhaelson hope you understand
Thank you!!

[2022-10-14 14:24] KendallDoesCoding commented on #299
Ok, no worries.

@KlausMikhaelson assigning this to you!

[2022-10-14 19:14] KlausMikhaelson commented on #299
@KendallDoesCoding have created a pr can you please review it ?

[2022-10-15 03:21] KendallDoesCoding commented on #299
done

On Sat, 15 Oct 2022 at 00:45, Satyam ***@***.***> wrote:

[2022-10-16 07:38] #98 closed

[2022-10-18 17:05] khumanshusingh opened #341 "[BUG REPORT]:- Text on navbar blocks not visible"
### Duplicate Issues

- [X] There are **no existing posts relating to my problem**
- [X] There are **existing posts relating to my problem, but the solution given, doesn't work for me.**

### What happened?

Text on navabr blocks is not visible
A simple color change can fix it
![Screenshot 2022-10-18 223443](https://user-images.githubusercontent.com/90241431/196497831-fd89e997-f2b5-4d46-aae0-0e7d1

[2022-10-18 17:06] khumanshusingh commented on #341
I think
i can fix this, assign this to me under hacktoberfest

[2022-10-19 12:35] sharmavivek223 commented on #105
thanks i'll start working once #340 is merged since it is dependent @KendallDoesCoding

[2022-10-19 14:37] KendallDoesCoding commented on #105
Ok

[2022-10-31 19:04] KlausMikhaelson commented on #299
hey @KendallDoesCoding have again created a pr please review it

[2022-11-05 06:57] #311 closed

[2022-11-05 10:04] KendallDoesCoding commented on #105
@sharmavivek223 Hi. I just merged #340. Please let me know when you can get to work on this.

[2022-11-05 10:05] KendallDoesCoding commented on #341
Any update on this @khumanshusingh??

[2022-11-05 10:07] KendallDoesCoding commented on #203
Waiting for your reply @thng17.

[2022-11-10 16:41] KendallDoesCoding commented on #105
Hi @sharmavivek223 . Thanks.. No worries.

[2022-11-14 12:59] sharmavivek223 commented on #275
I can do it pretty easily as I have already setup most of the code in #105

[2022-11-15 09:48] KendallDoesCoding commented on #275
Sure. You can work on this if @nik132-eng @hemantwasthere is fine with it.

Further, if they do not reply back within the next 3 days (18th November 2022), you can just put a comment here and start working on it straight away @sharmavivek223

[2022-11-15 10:21] #341 closed

[2022-11-15 10:25] KendallDoesCoding commented on #203
@sc0rp10n-py @TechStudent10 - Should I close this issue as not planned?

[2022-11-15 14:00] TechStudent10 commented on #203
I mean, sure. It has been a while.

[2022-11-15 14:57] KendallDoesCoding commented on #275
Yes. Although, from the communities, I've been apart of. The rule is that whoever is assigned gets it completed, especially if they have been assigned a long time back. Because, the user may have made the changes and forgot to open their PR and in that case, their time gets wasted.

So, It's preferable to ask if the other person can be assigned. Incase of no reply, as stated above, @sharmavivek223

[2022-11-17 18:02] TechStudent10 commented on #275
In this case, pick the best implementation of the issue.

[2022-11-17 18:10] sharmavivek223 commented on #275
I think @KendallDoesCoding is right, if we won't specify who is assigned to the ticket then it would be a waste of effort for others working on the same issue.

[2022-11-18 09:12] KendallDoesCoding commented on #275
Yess. And then we will have to reject one Pull request, making the other
person feel bad.. .Anyways, I think you can start working on this issues
Varun due to no reply from the people previously assigned.

On Thu, 17 Nov 2022 at 23:41, Vivek Sharma ***@***.***> wrote:

[2022-11-19 00:07] TechStudent10 commented on #275
Okay, but what if someone creates a PR for the same issue beforehand. You want their time to be wasted? Duplicates get closed all the time, but that doesn't mean that you need to organize it to that point at which only certain people can work a publicly-disclosed issue. Like, it's on GitHub for the love of God.

[2022-11-19 07:59] KendallDoesCoding commented on #275
If they create a PR before the issue was opened then their will be accepted.

I get what you mean but all communities do this method, hence I am following it like that.

[2022-11-19 08:01] #275 closed

[2022-11-19 08:08] KendallDoesCoding opened #346 "[BUG REPORT]:- Song gets wrong time remaining"
### Duplicate Issues

- [X] There are **no existing posts relating to my problem**
- [ ] There are **existing posts relating to my problem, but the solution given, doesn't work for me.**

### What happened?

In #345 , @sharmavivek223 made it so that the time left will display on the page, however after the song ends, if we tap the play button, which plays "All Of The Above" the time displays besid

[2022-11-19 08:11] KendallDoesCoding opened #347 "[BUG REPORT]:- Pause button not working."
### Duplicate Issues

- [X] There are **no existing posts relating to my problem**
- [ ] There are **existing posts relating to my problem, but the solution given, doesn't work for me.**

### What happened?

When the user tries to pause a song by clicking the pause button, it doesn't work/pause the song.

### Release version

18.4.7

### Steps to reproduce

1.  Play song
2. Try pausing the song.

[2022-11-19 08:12] KendallDoesCoding commented on #347
@sharmavivek223 as you worked on the volume stuff in #340 , can you work on this?

[2022-11-19 09:00] sharmavivek223 commented on #346
on it

[2022-11-19 09:01] sharmavivek223 commented on #347
yeah i will look into it, i think it got missed.

[2022-11-19 09:21] #346 closed

[2022-11-19 09:22] KendallDoesCoding commented on #347
Thanks a ton, should I assign you.

Once this is done, I will make a new release including #348 .

[2022-11-19 09:28] sharmavivek223 commented on #347
Great, you can release now @KendallDoesCoding

[2022-11-19 14:59] TechStudent10 commented on #275
Fine. Your repo. Your decisions. Although I've never seen any community on GitHub work like this.

[2022-11-19 15:32] KendallDoesCoding commented on #275
see EddieHubCommunity for example.

On Sat, 19 Nov 2022 at 20:29, TechStudent10 ***@***.***>
wrote:

[2022-11-19 19:01] TechStudent10 commented on #275
Have anymore examples? (also sorry if I'm being annoying lol)

[2022-11-19 20:14] TechStudent10 commented on #203
Closing due to no further response from author.

[2022-11-19 20:14] #203 closed

[2022-11-20 09:25] KendallDoesCoding commented on #275
https://github.com/dev-protocol
<https://jebcco.com/click?redirect=https%3A%2F%2Fgithub.com%2Fdev-protocol&dID=1668936294201&linkName=https://github.com/dev-protocol>

On Sun, 20 Nov 2022 at 00:31, TechStudent10 ***@***.***>
wrote:

[2022-11-20 09:26] #347 closed

[2022-11-26 18:28] KendallDoesCoding opened #350 "[FEAT] Christmas Countdown"
As this website is about Christmas, it would be great if we can get a Christmas Countdown (how many days left for Christmas) somewhere in place. However, incase it is going to be a difficulty to do so as it will make things look cluttered up on the website, It would be fine if we make a separate page and link the page via a button on the main page (but preferably not).

[2022-11-26 22:44] TechStudent10 commented on #350
Could just be a link or embed of another site counting down idk

[2022-11-26 22:44] sanjana-1604 commented on #350
I would like to work on this enhancement

[2022-11-26 22:48] TechStudent10 commented on #350
Go ahead

[2022-11-27 02:26] KendallDoesCoding commented on #350
Yeah. That would work too.

On Sun, 27 Nov 2022, 4:14 am TechStudent10, ***@***.***>
wrote:

[2022-11-28 09:32] KendallDoesCoding opened #352 "[TESTING] Does the user get ads on the website?"
In the Important section in the README.md, I suggested that the user uses a adblocker or they will get ads on the website. I just went through this because when I started playing a song, my adblocker showed that it is blocking {number} of ads.

It make sense that there will be ads, as this is using the YouTube API, and it is actually embedding the christmas album (but invisible).

Although, I just

[2022-11-29 07:09] M1racle04 commented on #352
Hi, tried the website and played the songs. I got no ads. Although I have an adblocker.

[2022-11-29 08:49] KendallDoesCoding commented on #352
Only people without an adblocker can do the test mentioned in the issue.

On Tue, 29 Nov 2022, 12:39 pm Yash Kushwaha, ***@***.***>
wrote:

[2022-11-29 12:35] #350 closed